
@mixin collapse-nav-btn($color: $color-default) {
  button {
    border: 1px solid $color;
    span {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat center;
    }
  }
}

@mixin font($color:$color-default, $font-family:$font-family-default, $text-transform:capitalize ,$font-style:normal) {
  color: $color;
  font-family: $font-family;
  text-transform: $text-transform;
  font-style: $font-style;
}

@mixin hover($color,$color-background:transparent,$opacity:1){
  &:hover {
    opacity: $opacity;
    background-color: $color-background;
    color: $color;
    transition:1s;
    cursor: pointer;
  }
}

@mixin triangle($border, $color-top:transparent, $color-right:transparent, $color-bottom:transparent, $color-left:transparent){
  border-top: $border solid $color-top;
  border-right: $border solid  $color-right;
  border-bottom: $border solid  $color-bottom;
  border-left: $border solid $color-left;
  width: 0;
}

@mixin dot($display:block,$radius:5px,$color:$color-default,$margin-Y: 20px, $margin-X: auto){
  .dot {
    display: $display;
    border: $radius solid $color-default;
    border-radius: $radius;
    margin: $margin-Y $margin-X;
    width: 0;
  }
}

@mixin X-center($padding-Y:0,$padding-X:0,$margin-Y:0,$margin-X:auto,$text-align:center){
  padding: $padding-Y $padding-X;
  margin: $margin-Y $margin-X;
  text-align: $text-align;
}

@mixin overlay(){
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}

@mixin botton-overtop{
  @include X-center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
}

@mixin botton($padding-Y,$padding-X,$color:$color-hot,$border:none){
  padding: $padding-Y $padding-X;
  background-color: $color;
  border:$border;
}

%down-arrow{
  @include triangle(30px,$color-top:$color-hot);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

%dot-vertical-group{
  position: absolute;
  display: flex;
  justify-content: center;
  top:-25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  @include dot($display:inline-block,$margin-X:20px);
}
