@import "../modules/normalize.scss";
@import "../modules/variables-color.scss";
@import "../modules/variables-font.scss";
@import "../modules/variables-width.scss";
@import "../modules/mixin-mediaquery.scss";
@import "../modules/extendclass.scss";
.folks{
  margin-bottom: 70px;
  @extend %container--fluid;
  &__slogan__text{
    @extend %dialogstyle;
    padding: 28px 0;
    width: 100%;
  }
  .folks--container{
    @extend %container--fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    font-size: 35px;
    text-align: center;
    color: $maincolor;
    margin-bottom: 60px;
  }
  &__characters{
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
  .character{
    width: 90%;
    display:flex;
    flex-direction: column;
    @include mediaquery_minipad{
      width: 47%;
    }
    img{
      width: 100%;
    }
  }
  .character__intro{
    padding: 25px 0 55px;
    text-align: center;
    &__name{
      font-size: 45px;
      color: $maincolor;
      letter-spacing: 8px;
      @include mediaquery_minipad{
        font-size: 53px;
      }
      &:hover{
        color:lighten($maincolor,20%);
      }
    }
    &__career{
      font-size: 21px;
      font-family: $font-family--sans-serif;
    }
  }
  button{
    color:white;
    background-color: black;
    width: 30%;
    padding: 20px 0;
    font-size: 14px;
    border: none;
    @include mediaquery_minipad{
      width: 23%;
      font-size: 20px;
    }
    &:hover{
    background-color: $maincolor;
    }
  }
}
