#hero {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center center;
    color: $text-white;
    padding-bottom: 110px;

    p {
        font-family: $title-font;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1.5;
        padding-bottom: 45px;
    }


    @include dots;

    .dots {
        .dot {
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.hero-wrap {
    max-width: 390px;
    margin: 0 auto;
    text-align: center;
}

.heading {
    padding: 150px 0;
    .title {
        font-family: $title-font;
        font-size: 60px;
        letter-spacing: 5px;
        margin: 0;
    }

    .subtitle {
        font-family: $title-font;
        font-size: 24px;
        letter-spacing: 9px;
        padding-top: 10px;
        text-transform: capitalize;
    }

}