@import 'variable';
@import 'mixin';

#mission {
    background-image: url(../images/sea-horse-bg.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 25px;

    @include dots;
    .dots {
        text-align: center;
        padding: 110px 0 50px 0;

        .dot {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include btn(#fff, #000);
    .button {
        padding-top: 120px;

        .btn:hover {
            background-color: $bg-red;
            color: $text-white;
        }
    }

    @media (max-width: 900px) {
        .dots {
            display: block;
        }
    }

    @media (max-width: 768px) {
        background-attachment: fixed;
    }
}

.mission-wrap {
    max-width: 900px;
    margin: 0 auto;
    @include clearfix;
}

.column-2 {
    @include column-2(left, 50%);
    &:last-child {
        padding-top: 300px;
    }

    @media (max-width: 900px) {
        @include column-2(none, 80%);
        margin: 0 auto;

        &:first-child, &:last-child {
            padding: 0;
        }
    }

    @media (max-width: 480px) {
        width: 90%;
    }

}

.mission-item {
    color: $text-white;

    &:first-child::after {
        content: '';
    }

    h2 {
        font-family: $title-font;
        font-weight: normal;
        font-size: 40px;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.5;
    }

    @media (max-width: 480px) {
        h2 {
            font-size: 28px;
        }
    }
}