// COLOR - TEXT
$text-white: #fff;
$text-purple: #fe5e8b;
$text-red: #ff0048;

// COLOR - BACKGROUND
$bg-purple-dark: #360836;
$bg-red: #ff0048;
$bg-gray: #e5e4e4;

// FONT
$main-font: 'Lato', sans-serif;
$title-font: 'Noto Serif', serif;