@import 'variable';
@import 'mixin';

#works {
    padding-bottom: 155px;
    @include section-heading;
    .section-heading-text {
        letter-spacing: 5px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 95px;
        padding-right: 95px;
        position: absolute;
        top: -72.6667px;
        left: 50%;
        transform: translateX(-50%);
    }

    .arrow-down {
        z-index: 1;
    }
}

.works-img {
    @include img-fluid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.work-item {
    position: relative;
    .overlay {
        background-color: rgba(255,0,0,0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        font-size: 0;
        text-align: center;
        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .overlay-text {
            color: $text-white;
            font-family: $title-font;
            font-size: 28px;
            display: inline-block;
            vertical-align: middle;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
        }
    }

    &:hover .overlay {
        opacity: 1;
    }
}

@media (max-width: 830px) {
    #works {
        .section-heading-text {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            width: 100%;
        }  
    }
    
    
}