
@mixin background_image ($img_name) {
   background-position: center;
   background-repeat: no-repeat;
   background-image: image-url($img_name);
   background-size: cover;
}

%hover_zoom_in_background_img {
  transition: background-size 0.3s;
  &:hover {
    background-size: 200%;
  }
}
