@import "modules/_main_colors";

.black_btn {
  @include set_background_color_inver_font_color(black);
}

.white_btn {
  @include set_background_color_inver_font_color(white);
}

.folk_btn {
  border: none;
  padding: 10px;
  width: 100%;
}
