@import "mytool";

$text-color: white;
$button-color: black;

footer{
	.footerTop {
		padding: 60px 15% 0px 15%;
		@include setFullScreenBackgroundWith("../images/footer.jpg");

		.itemDes {

			padding: 0px 50px;
			h1 {
				@include setFontStyleWith(40px, $text-color, center, 5px);	
			}
			p {
				@include setFontStyleWith(14px, $text-color);	
			}
		}
		.blank {
			height: 150px;
			clear: both;
		}
		.threeCircle {
			clear: both;
			padding: 10px 0px;
			h1 {
				@include setFontStyleWith(60px, $text-color, center);
			}
		}
		.back {
			width: 150px;
			background: white;
			margin: 80px auto 20px auto;
			padding: 5px 0px;
			text-align: center;
			p {
				@include setFontStyleWith(14px, $button-color, center);
				margin: 0;
			}
		}
	}
	.copyright {
		@include setFontStyleWith(14px, $button-color, center, 3px);
		padding: 20px;
		background-color: #F5F5F5;
	}
}

//////////// RWD ////////////
@media (max-width: 768px) {
	footer .footerTop  {
		padding: 30px 5% 0px 5%;
		.itemDes{
			padding: 0px 50px;
			h1 {
				@include setFontStyleWith(20px, $text-color, center, 5px);	
			}
			p {
				@include setFontStyleWith(10px, $text-color);	
			}
		}

	}
	
}