@import "mytool";
$intro-title-color: white;
$text-color: red;
$button-color: white;

.introFolks {
	background: white;
	padding: 60px 0px;
	color: red;

	#introTitle {
		position: absolute;
		width: 100%;
		background: red;
		padding: 10px 0px;
		@include setFontStyleWith(15px, $intro-title-color, center, 5px);
		&:after {
			@include triangle(red, 20px, 20px, 0px, 20px);

		}
	}

	#folksTitle {
		@include setFontStyleWith(30px, $text-color, center);
		margin: 50px 0;
	}

	.folksBox {
		margin: 0;
		padding: 0px 25%;
		.folkItem {
			padding: 0;
			img {
				width: 100%;
			}
			.name {
				@include setFontStyleWith(40px, $text-color, center, 5px);
				margin-bottom: 0; 
			}
			.position {
				@include setFontStyleWith(10px, $text-color, center, 3px);
				margin: 0px 0px 60px 0px;
			}
		}
	}
	.contact {
		width: 150px;
		background: black;
		margin: 0 auto;
		padding: 5px 0px;
		p {
			@include setFontStyleWith(14px, $button-color, center);
			margin: 0;
		}
	}
}
//////////// RWD ////////////
@media (max-width: 768px) {
	.introFolks #introTitle {
		@include setFontStyleWith(10px, $intro-title-color, center, 5px);

	}
}