.introFolks {
	background: white;
	padding: 60px 0px;
	color: red;

	#introTitle {
		background: red;
		padding: 10px 0px;
		letter-spacing: 5px;
		text-align: center;
		color: white;
		font-size: 15px;
	}

	#folksTitle {
		text-align: center;
		font-size: 30px;
		margin: 50px 0;
	}

	.folksBox {
		margin: 0;
		padding: 0px 25%;
		.folkItem {
			padding: 0;
			text-align: center;
			img {
				width: 100%;
			}
			.name {
				letter-spacing: 5px;
				margin-bottom: 0; 
			}
			.position {
				letter-spacing: 3px;
				margin: 0px 0px 60px 0px;
			}
		}
	}
	.contact {
		width: 150px;
		background: black;
		margin: 0 auto;
		padding: 5px 0px;
		text-align: center;
		p {
			color: white;
			margin: 0;
		}
	}
}