// 
/*
	setFullScreenBackgroundWith( $file) 
		- set backgound-img with $file 

	setFontStyleWith( $size, $color, $align:"left", $letter_spacing:"0", $word-spacing:"0")
		- set fontstyle with size, color, align, letter_spacing and word_spacing
	
	triangle(triangle($color:"red", $up, $right, $down, $left) 
		- create an red triangle
*/

@mixin setFullScreenBackgroundWith( $file) {
	background-image: url($file);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center	
}

@mixin setFontStyleWith( $size, $color, $align:"left", $letter_spacing:0px, $word-spacing:0px) {
	font-size: $size;
	color: $color;
	letter-spacing: $letter_spacing;
	word-spacing: $word-spacing;
	text-align: $align;
	
}

@mixin triangle($color:white, $up:20px, $right:20px, $down:20px, $left:20px) {
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	top:100%;
	left: 0;
	right: 0;
	z-index: 100;
	margin: 0 auto;
	border-width: $up $right $down $left;
	border-color: $color transparent transparent transparent;
}