/* line 20, ../../sass/modules/talkbubble.scss */
.talkbubble {
  color: #E4E3E3;
  position: relative;
  line-height: 40px;
  padding: 4px;
  background-color: #FF0040;
  line-height: 60px;
  font-size: 1rem;
}
/* line 29, ../../sass/modules/talkbubble.scss */
.talkbubble::before {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  content: "";
  border-top: 15px solid #FF0040;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: 1;
}

/* line 3, ../../sass/modules/button.scss */
.black_btn {
  background-color: black;
  color: white;
}

/* line 7, ../../sass/modules/button.scss */
.white_btn {
  background-color: white;
  color: black;
}

/* line 11, ../../sass/modules/button.scss */
.folk_btn {
  border: none;
  padding: 10px;
  width: 100%;
}

/* line 6, ../../sass/partials/folk_card.scss */
.folks .talkbubble {
  letter-spacing: 1.5px;
}
/* line 10, ../../sass/partials/folk_card.scss */
.folks .container {
  padding: 50px;
}
/* line 14, ../../sass/partials/folk_card.scss */
.folks div h2 {
  color: #FF0040;
}
/* line 18, ../../sass/partials/folk_card.scss */
.folks .card {
  display: inline-block;
  border-style: none;
}
/* line 21, ../../sass/partials/folk_card.scss */
.folks .card .card-title {
  letter-spacing: 4px;
  color: #FF0040;
}
