/* line 4, ../../sass/partials/folk_card.scss */
.folks .talkbubble {
  letter-spacing: 1.5px;
}
/* line 8, ../../sass/partials/folk_card.scss */
.folks .container {
  padding: 50px;
}
/* line 12, ../../sass/partials/folk_card.scss */
.folks div h2 {
  color: #FF0040;
}
/* line 16, ../../sass/partials/folk_card.scss */
.folks .card {
  display: inline-block;
  border-style: none;
}
/* line 19, ../../sass/partials/folk_card.scss */
.folks .card .card-title {
  letter-spacing: 4px;
  color: #FF0040;
}
