/* line 3, ../../sass/partials/footer.scss */
.footer {
  letter-spacing: 1.5px;
  line-height: 14vh;
  background-color: #E4E3E3;
  color: #1b1c1c;
}
/* line 7, ../../sass/partials/footer.scss */
.footer a {
  color: #FF0087;
  text-decoration: none;
  transition: color 0.3s;
}
/* line 12, ../../sass/partials/footer.scss */
.footer a:hover {
  color: #3D003B;
}
