/* line 4, ../../sass/modules/menu.scss */
ul.menu {
  margin-bottom: 0;
}
/* line 6, ../../sass/modules/menu.scss */
ul.menu li {
  display: inline-block;
  padding: 0 1vw;
  font-size: 1rem;
  transition: color 0.3s;
}

/* line 4, ../../sass/partials/nav.scss */
div.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 14px 0;
  padding-right: 30px;
  background-color: #3D003B;
}
/* line 16, ../../sass/partials/nav.scss */
div.nav ul.menu li a {
  color: #FF0040;
}
/* line 18, ../../sass/partials/nav.scss */
div.nav ul.menu li a:hover {
  color: #E4E3E3;
}
