/* line 9, ../../sass/modules/_set_image.scss */
.work_client_1, .work_client_2, .work_client_3, .work_client_4, .work_client_5, .work_client_6, .work_client_7, .work_client_8, .work_client_9, .work_client_10, .work_client_11, .work_client_12 {
  background-size: 100% !important;
  transition: background-size 0.3s;
}
/* line 12, ../../sass/modules/_set_image.scss */
.work_client_1:hover, .work_client_2:hover, .work_client_3:hover, .work_client_4:hover, .work_client_5:hover, .work_client_6:hover, .work_client_7:hover, .work_client_8:hover, .work_client_9:hover, .work_client_10:hover, .work_client_11:hover, .work_client_12:hover {
  background-size: 120% !important;
}

/* line 5, ../../sass/partials/work_client.scss */
.banner_back_ground_img {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/banner.png?1489326313');
  background-size: cover;
}

/* line 10, ../../sass/partials/work_client.scss */
.work_client_1, .work_client_2, .work_client_3, .work_client_4, .work_client_5, .work_client_6, .work_client_7, .work_client_8, .work_client_9, .work_client_10, .work_client_11, .work_client_12 {
  height: 33.33vh;
}

/* line 14, ../../sass/partials/work_client.scss */
.work_client_1 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p1.jpg?1489326313');
  background-size: cover;
}

/* line 20, ../../sass/partials/work_client.scss */
.work_client_2 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p2.jpg?1489326313');
  background-size: cover;
}

/* line 26, ../../sass/partials/work_client.scss */
.work_client_3 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p3.jpg?1489326313');
  background-size: cover;
}

/* line 32, ../../sass/partials/work_client.scss */
.work_client_4 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p4.jpg?1489326313');
  background-size: cover;
}

/* line 38, ../../sass/partials/work_client.scss */
.work_client_5 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p5.jpg?1489326313');
  background-size: cover;
}

/* line 44, ../../sass/partials/work_client.scss */
.work_client_6 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p6.jpg?1489326313');
  background-size: cover;
}

/* line 50, ../../sass/partials/work_client.scss */
.work_client_7 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p7.jpg?1489326313');
  background-size: cover;
}

/* line 56, ../../sass/partials/work_client.scss */
.work_client_8 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p8.jpg?1489326313');
  background-size: cover;
}

/* line 62, ../../sass/partials/work_client.scss */
.work_client_9 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p9.jpg?1489326313');
  background-size: cover;
}

/* line 68, ../../sass/partials/work_client.scss */
.work_client_10 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p10.jpg?1489326313');
  background-size: cover;
}

/* line 74, ../../sass/partials/work_client.scss */
.work_client_11 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p11.jpg?1489326313');
  background-size: cover;
}

/* line 80, ../../sass/partials/work_client.scss */
.work_client_12 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/p12.jpg?1489326313');
  background-size: cover;
}
