@import 'compass';
@import 'setting/variables';
@import 'setting/mixins';

@import 'sections/nav';
@import 'sections/cover';
@import 'sections/client';
@import 'sections/members';
@import 'sections/intro';


footer {
  background-color: $bg-footer;
  @include X-center($padding-Y:30px);
  p {
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: sans-serif;
  }
}
