@import 'compass';
@import 'partials/variables';
@import 'partials/normalize';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/layout';

#nav {
  background-color: $dark-purple;
  nav {
    button {
      border: 1px solid $white;
      span {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat center;
      }
    }
    a {
      text-transform: capitalize;
      color:$pink;
      transition: 0.5s;
      &:hover {
        color: $white;
        transition:1s;
      }
    }
  }
}

#cover {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  text-align: center;
  color: $white;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    
    // outline: 1px solid blue;
    h1 {
      text-transform: uppercase;
      
      font-style: italic;
      font-size: 60px;
      span {
        text-transform: lowercase;
        font-family: 'lobster',cursive;
      }
    }
    p {
      text-transform: capitalize;
      letter-spacing: 5px;
      font-size: 24px;
    }
  }
  .dot-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    // outline: 1px solid green;
    .dot {
      border:5px solid $white;
      border-radius: 5px;
      margin: 20px auto;
      width: 0;
    }
  }
}

#client {
  position: relative;
  
  .title {
    position: absolute;
    top:-38px;
    left: 0;
    right: 0;
    font-size: 19px;
    font-family: sans-serif;
    color: $white;
    letter-spacing: 0.2em;
    h4 {
      width: 250px;
      background-color: $peach;
      padding: 5px 20px;
      margin: 0 auto;
      text-align: center;
    }
    

    .downarrow {
      position: absolute;
      bottom: -29px;
      border-top: 30px solid $peach;
      border-right: 30px solid rgba(0,0,0,0) ;
      border-left: 30px solid rgba(0,0,0,0);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      z-index: 1;
    }
  }
  
  .client {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .client-text {
      outline: 1px solid red;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      padding: 20px;
      text-align: center;
      background-color: $peach;
      opacity: 0;

      font-family: Georgia, 'Times New Roman', Times, serif;
      color: $white;
      transition: 0.5s;
      &:hover {
        opacity: 1;
        transition: 1s;
      }
    }

  }
}

#members {
  position: relative;
  
  .title {
    position: relative;
    left: 0;
    right: 0;
    
    h4 {
      background-color: $peach;
      padding: 5px 20px;
      margin: 0 auto;
      text-align: center;
      color: $white;
      font-size: 19px;
      font-family: sans-serif;
    }
    .downarrow {
      position: absolute;
      bottom: -29px;
      border-top: 30px solid $peach;
      border-right: 30px solid rgba(0,0,0,0) ;
      border-left: 30px solid rgba(0,0,0,0);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      z-index: 1;
    }
  }

  .member {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: $peach;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    h3 {
      font-size: 24px;
      padding: 40px;
    }
    .card {
      border: none;
      h5 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
        font-family: sans-serif;
        color: #000;
      }
    }
    .contact {
      padding: 10px 60px;
      margin: 30px 0px 80px;
      background-color: #000;
      color: $white;
      font-size: 16px;
      font-family: sans-serif;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        background-color:$peach;
        transition: 0.5s;
      }
    }
  }
}

#intro {
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  min-height:960px;
  text-align: center;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white;
    margin: 0 auto;
    text-align: left;
    max-width: 900px;
    
    .text {
      width: 45%;
      padding: 60px 0;
      h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        letter-spacing: 0.1em;
      }
      p {
        font-size: 16px;
        font-family: sans-serif;
      }
    }
    .who {
      margin-top: 200px;
      }
    .how {
      margin-top: -200px;
    }
    .how, .believe{
      position: relative;
      
      .dot-group.md {
        position: absolute;
        display: flex;
        justify-content: center;
        top:-25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        .dot {
          border:5px solid $white;
          border-radius: 5px;
          margin: 20px;
          width: 0;
        }
      }
    }
  }
  button {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 50px;
    background-color:$white;
    transition: 0.5s;
    border: none;
    margin: 0px 0px 40px ;
    &:hover {
      background-color: $peach;
      color: $white;
      transition: 1s;
    }
  }
}

footer {
  background-color: $gray;
  text-align: center;
  p {
    padding: 30px;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: sans-serif;

  }
}
