header {
  background-color: #360836;
}
header li {
  margin: 20px 10px;
}
header li a {
  color: #fff;
}
header li a:hover {
  color: #FF00CC;
  text-decoration: none;
}

#banner {
  background: url("../images/banner.png") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 550px;
}
#banner #banner-text {
  color: #fff;
  margin-top: 100px;
}
#banner #banner-text h1 {
  font-size: 50px;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 100%;
}
#banner #banner-text h4 {
  font-size: 20px;
  letter-spacing: 0.4em;
  line-height: 100%;
}
#banner #banner-text p {
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-top: 100px;
}
#banner #banner-text #work {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0);
  background-color: #FF0048;
  width: 300px;
  height: 60px;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 60px;
}

.content img {
  width: 100%;
  height: auto;
}
