header {
  background-color: #360836;
}
header li {
  margin: 20px 10px;
}
header li a {
  color: #fff;
}
header li a:hover {
  color: #FF00CC;
  text-decoration: none;
}

#banner {
  background: url("../images/banner.png") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 550px;
}
#banner #banner-text {
  color: #fff;
  margin-top: 100px;
}
#banner #banner-text h1 {
  font-size: 50px;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 100%;
}
#banner #banner-text h4 {
  font-size: 20px;
  letter-spacing: 0.4em;
  line-height: 100%;
}
#banner #banner-text p {
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-top: 100px;
}
#banner #banner-text #work {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0);
  background-color: #FF0048;
  width: 300px;
  height: 60px;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 60px;
}

.content figure {
  position: relative;
  margin: 0 -15px;
}
.content figure img {
  width: 100%;
  height: auto;
}
.content figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.content figure:hover figcaption {
  background-color: #FF0048;
}

.folks #folks-title {
  background-color: #FF0048;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  padding: 20px 0px;
  font-size: 20px;
  letter-spacing: 0.1em;
}
.folks figure {
  margin: 0 -15px;
}
.folks figure h3 {
  color: #FF0048;
  font-size: 40px;
}
.folks figure p {
  font-size: 16px;
}
.folks figure img {
  width: 100%;
}
.folks .folks-bottom {
  margin-top: 20px;
}

.narrow {
  width: 70%;
}

.article {
  background: url("../images/bg_what.jpg") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}
.article .text1 {
  margin-top: 50px;
}
.article .text2 {
  margin-top: 100px;
}
.article .text3 {
  margin-top: -50px;
}
