*, p {
    padding:0px;
    margin:0px;
}
html, body {
    height: 100%;
}

.nav {
    background-color: black;
    min-height: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center.list-inline {
    margin-bottom: 0px;
}
.navbutton {
    color: white;
    text-decoration: none;
}
.navbutton:hover {
    color: red;
    text-decoration: none;
}
#bigphoto {
    background-image: url(../images/banner.png);
    background-size: cover;
    min-height: 600px;
    position: relative;
}
#bigphoto-text {
    padding-top: 10%;
    text-align: center;
    width: 30%;
    color: white;
}
#bigphoto-text > p {
    margin-top: 30%;
    margin-bottom: 7%;
}
.circle:before {
    content: ' \25CF';
    font-size: 10px;
}
.circle {
    color: white;
}
#body {
    min-height: 600px;
}
/* body { */
  /* position: relative; */
  /* height: auto; */
  /* min-height: 100% !important; */
/* } */
img {
 width: 100%;
 }
.row {
  margin-left: 0;
  margin-right: 0;
}
.row > div {
  padding: 0;
}
#arrowbox {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
#arrowbox > p {
    background-color: red;
    margin: 0;
}
.triangle {
  width: 50px;
  margin: 0 auto;
  border-left: 25px solid rgba(255, 255, 255, 0);
  border-top: 25px solid #FF0048;
  border-right: 25px solid rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
}
.rednav {
    background-color: red;
}
#portait {
    padding-top: 5%;
}
.person-text > h1 {
    margin: 0;
}
.person-text {
    margin: 2% 0;
}
#people-row {
    margin: 0 10%;
    margin-top: 2%;
}
#contactwrap {
    margin: 5% 0;
}

#about {
    background-image: url(../images/bg_what.jpg);
    background-size: cover;
    min-height: 1400px;
    position: relative;
    display: flex;
}
.about-left, .about-right {
    width: 50%;
}

#about-wrap {
    padding: 5% 20%;
}
.about-block {
    color: white;
    padding: 10% 10%;
}
#about-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-right {
    margin-top: 15%;
}
.about-left {
    margin-bottom: 15%;
}
#footer {
    background-color: grey;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer > p {
}
@media only screen and (max-width: 768px) {
    .about-left, .about-right {
        width: auto;
        margin: 0;
    }
    #about-wrap {
        padding: 5% 0;
    }
    #bigphoto-text {
        width: 70%;
    }
    #bigphoto {
        min-height: 450px;
    }
}
