#cover2
{
  position: relative;
  width: 100%;
  margin-bottom: 100px;

  h3{
    background-color: #FF0048;
    text-align: center;
    padding: 20px;
    width: 300px;
    color: white;
    margin: -66px auto 0px auto;
  }

  .row{
    margin: 0px;
  }

  #bg_color{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    padding-top: 30%;
    color: white;
  }


  #tri{
    position: absolute;
    left:50% ;
    margin-left: -41.5px;
    top: 66px;
    z-index: 2;
  }

  .col-md-3
  {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    img{
        width: 100%;
    }
  }

  .col-md-3:hover{
    #bg_color
    {
      background-color: #FF0048;
      letter-spacing: 4px;
      opacity: 1;
    }
    img{
      width: 100%;
      opacity: 0;
    }

  }


}
