#cover2
{
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  h3{
    background-color: #FF0048;
    text-align: center;
    padding: 20px;
    width: 300px;
    color: white;
    margin: -66px auto 0px auto;
  }

  .row{
    margin: 0px;
  }

  #tri{
    position: absolute;
    left:50% ;
    margin-left: -41.5px;
    top: 66px;
    z-index: 2;
  }

  .col-md-3
  {
    padding-left: 0px;
    padding-right: 0px;
    img{
        width: 100%;
    }
  }


}
