#cover1
{
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

#webfolk
{
  position: absolute;
  color: white;
  float: left;
  left: 50%;
  top:50%;
  width: 300px;
  margin-left: -150px;
  margin-top: -120px;
  text-align: center;
  h1{
      font-size: 50pt;
  }
  h3{
    letter-spacing: 4px;
  }
  p{
      margin-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
  }
}
