#cover4{
          background-image: url("../img/bg_what.jpg");
          background-repeat: no-repeat;
          background-size: cover;


          color: white;

          .container{
                      width: 900px;
          }

          h1{
            letter-spacing: 2px;
            font-size: 40px;
          }

          #top_button{
            color: black;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            input{
              border-width: 0px;
              background-color: white;
              width: 240px;
              height: 40px;
            }
          }
}
