/* line 5, ../sass/folk_card.scss */
.folks .talkbubble {
  letter-spacing: 1.5px;
  line-height: 40px;
  color: white;
}
/* line 11, ../sass/folk_card.scss */
.folks .container {
  padding: 50px;
}
/* line 15, ../sass/folk_card.scss */
.folks div h2 {
  color: #FF0040;
}
/* line 19, ../sass/folk_card.scss */
.folks .card {
  display: inline-block;
  border-style: none;
}
/* line 22, ../sass/folk_card.scss */
.folks .card .card-title {
  letter-spacing: 4px;
  color: #FF0040;
}
