/* line 3, ../sass/footer.scss */
.footer {
  letter-spacing: 1.5px;
  line-height: 14vh;
  background-color: #E4E3E3;
  color: #1b1c1c;
}
/* line 7, ../sass/footer.scss */
.footer a {
  color: #FF0087;
}
