/* line 3, ../sass/menu.scss */
div.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 14px 0;
  padding-right: 30px;
  background-color: #3D003B;
}

/* line 14, ../sass/menu.scss */
ul.menu {
  margin-bottom: 0;
}
/* line 16, ../sass/menu.scss */
ul.menu li {
  display: inline-block;
  padding: 0 1vw;
  font-size: 1rem;
  color: #FF0040;
  transition: color 0.3s;
}
/* line 23, ../sass/menu.scss */
ul.menu li:hover {
  color: #E4E3E3;
}

/* line 29, ../sass/menu.scss */
.nav_space {
  height: 52px;
}
