/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 14, ../sass/print.scss */
.banner_back_ground_img {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/banner.png?1489326313');
  background-size: cover;
}

/* line 19, ../sass/print.scss */
.work_client_1, .work_client_2, .work_client_3, .work_client_4, .work_client_5, .work_client_6, .work_client_7, .work_client_8, .work_client_9, .work_client_10, .work_client_11, .work_client_12 {
  height: 33.33vh;
}

/* line 23, ../sass/print.scss */
.work_client_1 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p1.jpg?1489326313');
  background-size: cover;
}

/* line 28, ../sass/print.scss */
.work_client_2 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p2.jpg?1489326313');
  background-size: cover;
}

/* line 33, ../sass/print.scss */
.work_client_3 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p3.jpg?1489326313');
  background-size: cover;
}

/* line 38, ../sass/print.scss */
.work_client_4 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p4.jpg?1489326313');
  background-size: cover;
}

/* line 43, ../sass/print.scss */
.work_client_5 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p5.jpg?1489326313');
  background-size: cover;
}

/* line 48, ../sass/print.scss */
.work_client_6 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p6.jpg?1489326313');
  background-size: cover;
}

/* line 53, ../sass/print.scss */
.work_client_7 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p7.jpg?1489326313');
  background-size: cover;
}

/* line 58, ../sass/print.scss */
.work_client_8 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p8.jpg?1489326313');
  background-size: cover;
}

/* line 63, ../sass/print.scss */
.work_client_9 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p9.jpg?1489326313');
  background-size: cover;
}

/* line 68, ../sass/print.scss */
.work_client_10 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p10.jpg?1489326313');
  background-size: cover;
}

/* line 73, ../sass/print.scss */
.work_client_11 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p11.jpg?1489326313');
  background-size: cover;
}

/* line 78, ../sass/print.scss */
.work_client_12 {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/p12.jpg?1489326313');
  background-size: cover;
}

/* line 83, ../sass/print.scss */
.about_us {
  color: #E4E3E3;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/bg.jpg?1489326313');
  background-size: cover;
}
