@import url("https://fonts.googleapis.com/css?family=Lobster|Noto+Serif|Source+Sans+Pro:300");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

/* base */
/* header */
/* banner */
header {
  background: #370537;
  text-align: center;
  padding: 15px 0;
}

.headerMenu a {
  color: #fff;
  padding: .5rem;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: .05rem;
}
.headerMenu a + a {
  margin-left: 15px;
}
.headerMenu .now {
  color: #fc5988;
}

.banner, .workClients__description, .team h3, .concept h2 {
  font-family: 'Noto Serif', serif;
}

header, .workClients h2, .team h2, .team__gridContainer p, .team__contactButton, .concept p, .concept__toTopButton, footer {
  font-family: 'Source Sans Pro', sans-serif;
}

.banner .banner__highlightWord {
  font-family: 'Lobster', cursive;
}

.banner {
  background: url("../images/banner.png") no-repeat center center/cover;
  background-attachment: fixed;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  min-height: calc(100vh - 53px);
}
.banner .banner__mainTitle {
  padding: 20vh 0 15vh;
}
.banner h1 {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.8em;
  letter-spacing: .1em;
}
.banner h2 {
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: .3em;
  font-weight: 500;
}
.banner p {
  letter-spacing: .1em;
  font-size: .9em;
  margin: 0 auto 12.5vh;
  max-width: 450px;
  line-height: 1.5em;
}
.banner .banner__highlightWord {
  margin-left: .5em;
  text-transform: lowercase;
  letter-spacing: 0;
}
.banner .banner__paragraphSeparator, .banner .banner__paragraphSeparator::before, .banner .banner__paragraphSeparator::after {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background: #fff;
  margin: auto;
}
.banner .banner__paragraphSeparator {
  position: relative;
}
.banner .banner__paragraphSeparator::before {
  content: '';
  position: absolute;
  top: 30px;
  display: block;
}
.banner .banner__paragraphSeparator::after {
  content: '';
  position: absolute;
  bottom: 30px;
  display: block;
}
@media all and (min-width: 576px) {
  .banner {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media all and (min-width: 768px) {
  .banner {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}
@media all and (min-width: 992px) {
  .banner {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media all and (min-width: 1200px) {
  .banner {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.workClients {
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 120px;
}
.workClients__titleContainer {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  text-align: center;
}
@media all and (min-width: 576px) {
  .workClients__titleContainer {
    top: -63px;
  }
}
@media all and (min-width: 768px) {
  .workClients__titleContainer {
    top: -64px;
  }
}
@media all and (min-width: 992px) {
  .workClients__titleContainer {
    top: -65px;
  }
}
@media all and (min-width: 1200px) {
  .workClients__titleContainer {
    top: -71px;
  }
}
.workClients h2 {
  position: relative;
  background: #ff0043;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  padding: 20px 60px;
  letter-spacing: .2em;
}
.workClients h2::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: calc(50% - 10px);
  background: #ff0043;
  transform: rotate(45deg);
  z-index: 1;
}
@media all and (min-width: 992px) {
  .workClients h2::after {
    width: 30px;
    height: 30px;
    bottom: -15px;
    left: calc(50% - 15px);
  }
}
@media all and (min-width: 576px) {
  .workClients h2 {
    padding: 20px 100px;
  }
}
.workClients__gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media all and (min-width: 1200px) {
  .workClients__gridContainer {
    grid-template-columns: repeat(4, minmax(320px, 1fr));
  }
}
.workClients__gridItem {
  position: relative;
}
.workClients__gridItem:hover .workClients__description {
  visibility: visible;
  opacity: 1;
}
.workClients__snapshot {
  width: 100%;
  display: block;
}
.workClients__description {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-size: 1.75rem;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  background: rgba(255, 0, 67, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
@media all and (min-width: 576px) {
  .workClients {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media all and (min-width: 768px) {
  .workClients {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}
@media all and (min-width: 992px) {
  .workClients {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media all and (min-width: 1200px) {
  .workClients {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.team {
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
}
.team h2 {
  position: relative;
  background: #ff0043;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  display: block;
  padding: 15px 0;
  text-align: center;
  letter-spacing: .05em;
}
.team h2::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: calc(50% - 10px);
  background: #ff0043;
  transform: rotate(45deg);
  z-index: 1;
}
@media all and (min-width: 992px) {
  .team h2::after {
    width: 30px;
    height: 30px;
    bottom: -15px;
    left: calc(50% - 15px);
  }
}
.team h3 {
  color: #ff0043;
}
.team__mainTitle {
  padding: 50px 0;
  font-size: 1.15em;
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: capitalize;
}
.team__gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  padding: 0 10%;
}
@media all and (min-width: 768px) {
  .team__gridContainer {
    grid-template-columns: repeat(2, 50%);
  }
}
@media all and (min-width: 992px) {
  .team__gridContainer {
    padding: 0 18%;
  }
}
.team__gridContainer h3 {
  margin-top: 15px;
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 1em;
}
.team__gridContainer p {
  margin-bottom: 50px;
  font-weight: 600;
  word-spacing: .1em;
  color: #333;
  font-size: 18px;
  font-size: 1.125rem;
}
.team img {
  width: 100%;
}
.team__contactButton {
  display: block;
  padding: 10px 70px;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 255px;
  width: max-content;
  font-weight: 600;
  background: #000;
  color: #fff;
  margin: 15px auto 50px;
}
@media all and (min-width: 576px) {
  .team {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media all and (min-width: 768px) {
  .team {
    font-size: 19px;
    font-size: 1.1875rem;
  }
}
@media all and (min-width: 992px) {
  .team {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media all and (min-width: 1200px) {
  .team {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.concept {
  font-size: 0;
  background: url(../images/sea-horse-bg.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff;
  padding: 80px 10% 30px;
}
@media all and (min-width: 992px) {
  .concept {
    padding: 80px 15% 30px;
  }
}
@media all and (min-width: 992px) {
  .concept__statementContainer:first-child {
    margin-right: 20%;
  }
}
@media all and (min-width: 992px) {
  .concept__statementContainer:nth-child(2) {
    margin-top: 290px;
  }
}
@media all and (min-width: 992px) {
  .concept__statementContainer {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }
  .concept__statementContainer .concept__statement:first-child .concept__paragraphSeparator {
    display: none;
  }
}
.concept__paragraphSeparator {
  text-align: center;
  margin-bottom: 60px;
}
.concept__paragraphSeparator__dot {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 5px;
}
.concept__paragraphSeparator__dot::before, .concept__paragraphSeparator__dot::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 5px;
}
.concept__paragraphSeparator__dot::before {
  left: 40px;
}
.concept__paragraphSeparator__dot::after {
  right: 40px;
}
.concept__statement {
  margin-bottom: 60px;
  position: relative;
}
.concept__statement p + p {
  margin-top: 30px;
}
@media all and (min-width: 992px) {
  .concept__statement__whatWeDo {
    margin-bottom: 150px;
  }
}
@media all and (min-width: 992px) {
  .concept__statement__whoWeAre, .concept__statement__whatWeBelieve {
    margin-bottom: 120px;
  }
}
.concept h2 {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
@media all and (min-width: 992px) {
  .concept h2 {
    font-size: 2rem;
  }
}
@media all and (min-width: 1200px) {
  .concept h2 {
    font-size: 2.7rem;
  }
}
.concept p {
  font-size: 1rem;
  line-height: 1.6rem;
}
@media all and (min-width: 768px) {
  .concept p {
    font-size: 1.15rem;
  }
}
.concept__toTopButton {
  display: block;
  padding: 10px 70px;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  width: 255px;
  width: max-content;
  font-weight: 600;
  background: #fff;
  color: #000;
}

footer {
  background: #e5e4e4;
  text-align: center;
  padding: 45px 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: .15em;
}
footer a {
  color: #ff0043;
}
