header {
  background-color: #360836;
  ul {
    padding: 0;
    margin: 0;
    a {
      padding: 0 20px;
      font-size: 18px;
      color: #FF5E8B;
      line-height: 60px;
      &:hover {
        color: #fff;
        text-shadow: 3px 3px 2px #fff;
        transition: 1s;
        text-decoration: none;
        font-size: 24px;
      }
      &:focus {
        color: #ecb24b;
        text-decoration: none;
      }
    }
  }
}
