#content{
	position: relative;
}

.img-box{
	padding : 0;
	img {
		width: 100%;
	}
}

figure{
	position: relative;
 	height: 295px;

	figcaption{
		position: absolute;
		top: 0;
		left: 0;
		color : #ffffff;
		background: $content-hover-bgcolor;
		text-decoration: none;
		text-align: center;
		font-size : 20px;
		height : 300px;
		width : 100%;
		p{
			padding-top: 120px;
		}
		opacity: 0;
	    @include transition(0.8s ease);
	}

	&:hover figcaption{
	 	opacity: 1;
	}
}

#content-bottom{
	@extend .page-tooltip;
}