#topsection
  position: relative
  .outerimg
    position: relative
  h4
    width: 200px
    color: $text-color-1
    background-color: $text-color-2
    position: absolute
    top: -50px
    left: 50%
    margin: auto auto auto -100px
    line-height: 50px
  .tri
    +triangle
  .imgtext
    opacity: 0
    z-index: 2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 35% 20%
  img
    z-index: 1
    width: 100%
    height: 100%
  a:hover
    .imgtext
      opacity: 1
      background-color: $text-color-2
      color: $text-color-1
      transition: background-color 1s
#downsection
  h4
    background-color: rgb(250,0,38)
    color: $text-color-1
    line-height: 50px
    margin: 0 auto 0 auto
  h3
    color: $text-color-2
    margin: 50px auto 180px auto
  .tri
    +triangle
  .container
    max-width: 800px
    h2
      color: $text-color-2
  .middlebutton
    display: block
    width: 200px
    margin: 0 auto 20px auto
    h4
      line-height: 40px
  .middlebutton:hover
    text-decoration: none
    background-color:black
