/* line 1, ../sass/_reset.scss */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/*
	setFullScreenBackgroundWith( $file) 
		- set backgound-img with $file 

	setFontStyleWith( $size, $color, $align:"left", $letter_spacing:"0", $word-spacing:"0")
		- set fontstyle with size, color, align, letter_spacing and word_spacing

*/
/* line 1, ../sass/_header.scss */
header {
  background-color: #660077;
}
/* line 4, ../sass/_header.scss */
header nav ul {
  margin: 0;
  list-style-type: none;
  line-height: 3;
}
/* line 8, ../sass/_header.scss */
header nav ul li {
  display: inline;
  padding: 0px 20px;
}
/* line 13, ../sass/_header.scss */
header nav a {
  color: white;
  font-size: 15px;
}
/* line 16, ../sass/_header.scss */
header nav a:hover {
  color: #FFE4E1;
}

/* line 6, ../sass/_introFolks.scss */
.introFolks {
  background: white;
  padding: 60px 0px;
  color: red;
}
/* line 11, ../sass/_introFolks.scss */
.introFolks #introTitle {
  background: red;
  padding: 10px 0px;
  font-size: 15px;
  color: white;
  letter-spacing: 5px;
  word-spacing: "0";
  text-align: center;
}
/* line 17, ../sass/_introFolks.scss */
.introFolks #folksTitle {
  font-size: 30px;
  color: red;
  letter-spacing: "0";
  word-spacing: "0";
  text-align: center;
  margin: 50px 0;
}
/* line 22, ../sass/_introFolks.scss */
.introFolks .folksBox {
  margin: 0;
  padding: 0px 25%;
}
/* line 25, ../sass/_introFolks.scss */
.introFolks .folksBox .folkItem {
  padding: 0;
}
/* line 27, ../sass/_introFolks.scss */
.introFolks .folksBox .folkItem img {
  width: 100%;
}
/* line 30, ../sass/_introFolks.scss */
.introFolks .folksBox .folkItem .name {
  font-size: 40px;
  color: red;
  letter-spacing: 5px;
  word-spacing: "0";
  text-align: center;
  margin-bottom: 0;
}
/* line 34, ../sass/_introFolks.scss */
.introFolks .folksBox .folkItem .position {
  font-size: 10px;
  color: red;
  letter-spacing: 3px;
  word-spacing: "0";
  text-align: center;
  margin: 0px 0px 60px 0px;
}
/* line 40, ../sass/_introFolks.scss */
.introFolks .contact {
  width: 150px;
  background: black;
  margin: 0 auto;
  padding: 5px 0px;
}
/* line 45, ../sass/_introFolks.scss */
.introFolks .contact p {
  font-size: 14px;
  color: white;
  letter-spacing: "0";
  word-spacing: "0";
  text-align: center;
  margin: 0;
}

/* line 7, ../sass/_footer.scss */
footer .footerTop {
  padding: 60px 15% 0px 15%;
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 11, ../sass/_footer.scss */
footer .footerTop .itemDes {
  padding: 0px 50px;
}
/* line 14, ../sass/_footer.scss */
footer .footerTop .itemDes h1 {
  font-size: 40px;
  color: white;
  letter-spacing: 5px;
  word-spacing: "0";
  text-align: center;
}
/* line 17, ../sass/_footer.scss */
footer .footerTop .itemDes p {
  font-size: 14px;
  color: white;
  letter-spacing: "0";
  word-spacing: "0";
  text-align: "left";
}
/* line 21, ../sass/_footer.scss */
footer .footerTop .blank {
  height: 150px;
  clear: both;
}
/* line 25, ../sass/_footer.scss */
footer .footerTop .threeCircle {
  clear: both;
  padding: 10px 0px;
}
/* line 28, ../sass/_footer.scss */
footer .footerTop .threeCircle h1 {
  font-size: 60px;
  color: white;
  letter-spacing: "0";
  word-spacing: "0";
  text-align: center;
}
/* line 32, ../sass/_footer.scss */
footer .footerTop .back {
  width: 150px;
  background: white;
  margin: 80px auto 20px auto;
  padding: 5px 0px;
  text-align: center;
}
/* line 38, ../sass/_footer.scss */
footer .footerTop .back p {
  font-size: 14px;
  color: black;
  letter-spacing: "0";
  word-spacing: "0";
  text-align: center;
  margin: 0;
}
/* line 44, ../sass/_footer.scss */
footer .copyright {
  font-size: 14px;
  color: black;
  letter-spacing: 3px;
  word-spacing: "0";
  text-align: center;
  padding: 20px;
  background-color: #F5F5F5;
}

/* line 9, ../sass/index.scss */
.content {
  padding: 0;
}

/* line 12, ../sass/index.scss */
.cover {
  position: relative;
  height: 760px;
  width: 100%;
  background-image: url("../images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 18, ../sass/index.scss */
.cover .wordsBox {
  position: relative;
  width: 400px;
  margin: 0 auto;
  top: 20%;
}
/* line 23, ../sass/index.scss */
.cover .wordsBox #bigTitle {
  font-size: 50px;
  color: white;
  letter-spacing: 5px;
  word-spacing: "0";
  text-align: center;
  margin: 0;
}
/* line 27, ../sass/index.scss */
.cover .wordsBox #smallTitle {
  font-size: 25px;
  color: white;
  letter-spacing: 10px;
  word-spacing: "0";
  text-align: center;
  margin-bottom: 30%;
}
/* line 31, ../sass/index.scss */
.cover .wordsBox #slogan {
  font-size: 20px;
  color: white;
  letter-spacing: "0";
  word-spacing: "0";
  text-align: center;
}
/* line 36, ../sass/index.scss */
.cover .pageDown {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 40, ../sass/index.scss */
.cover .pageDown p {
  font-size: 20px;
  color: white;
  letter-spacing: 5px;
  word-spacing: "0";
  text-align: center;
  display: block;
  width: 300px;
  background-color: red;
  margin: 0 auto;
  padding: 10px 30px;
}

/* line 50, ../sass/index.scss */
.showPic {
  padding: 0px;
}
/* line 52, ../sass/index.scss */
.showPic img {
  width: 100%;
}
