.footer
	height: 100px
	background-color: #e4e3e3
	text-align: center
	p
		line-height: 100px
		margin-bottom: 0
	span
		color: #fe0433

@media (max-width: 370px)
	.footer
		p
			line-height: 20px
			padding-top: 30px