.header
	height: 70px
	line-height: 70px
	width: auto
	background-color: #3e0039
	.menu
		text-align: center
		a
			color: white
			font-size: 20px
			&:hover
				color: #ff3181
				text-decoration: none
		a.home
			margin-right: 15px
		a.contact
			margin-left: 15px