.section4
	+img(bg,jpg)
	@extend %bg-cover
	height: auto
	position: relative
	.section4Left
		width: 33%
		height: auto
		margin-left: 200px
		display: inline-block
		vertical-align: top
		.section4LeftUpper,.section4LeftLower
			h1
				color: white
				font-size: 48px
				margin-top: 100px
				font-family: serif
			p
				color: white
				font-size: 24px
				margin-bottom: 100px
		.threeLittleCircle
			text-align: center
			.littleCircle
				width: auto
				text-align: center
				height: 12px
				width: 12px
				border-radius: 12px
				background-color: white
				margin-right: 10px
				display: inline-block

	.section4Right
		width: 33%
		height: auto
		display: inline-block
		margin-left: 200px
		.section4RightUpper,.section4RightLower
			h1
				color: white
				font-size: 48px
				margin-top: 100px
				font-family: serif
			p
				color: white
				font-size: 24px
				margin-bottom: 100px
		.threeLittleCircle
			text-align: center
			.littleCircle
				width: auto
				text-align: center
				height: 12px
				width: 12px
				border-radius: 12px
				background-color: white
				margin-right: 10px
				display: inline-block

.section4RightUpper
	margin-top: 500px

.top
	margin-bottom: 50px
	.backToTop
		width: 300px
		height: 50px
		background-color: white
		text-align: center
		position: absolute
		left: 0
		right: 0
		bottom: 0
		margin: 0 auto
		p
			line-height: 50px
			color: black
			font-size: 20px
			text-align: center

@media (max-width: 1200px)
	.section4
		.section4Right,.section4Left
			width: 80%
			margin: 0 10%
		.section4RightUpper
			margin-top: 0
		.section4RightLower
			margin-bottom: 200px