
@for $i from 1 through 12 
	.photo#{$i}
		+img(p#{$i},jpg)
		height: 350px
		@extend %bg-cover

// .photo1
// 	+img(p1,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo2
// 	+img(p2,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo3
// 	+img(p3,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo4
// 	+img(p4,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo5
// 	+img(p5,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo6
// 	+img(p6,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo7
// 	+img(p7,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo8
// 	+img(p8,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo9
// 	+img(p9,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo10
// 	+img(p10,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo11
// 	+img(p11,jpg)
// 	height: 350px
// 	@extend %bg-cover
// .photo12
// 	+img(p12,jpg)
// 	height: 350px
// 	@extend %bg-cover
.section2
	margin-bottom: 150px
// .pr1,.pr2,.pr3
// 	margin-left: !important0
// 	margin-right: !important0

@for $i from 1 through 12
	@media (max-width: 1024px)
		.photo#{$i}
			height: 250px

// @media (max-width: 1024px)
// 	.photo1,.photo2,.photo3,.photo4,.photo5,.photo6,.photo7,.photo8,.photo9,.photo10,.photo11,.photo12,
// 		height: 250px