@CHARSET "UTF-8";
header {
  background-color: rgb(62, 6, 55);
}
header ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
header li{
  font-size: 16px;
  padding: 8px;
  font-weight: bold;
}
header a{
  color: rgb(246, 49, 108);
}
.cover{
  background-image: url(/home/ray/git/t5/Ray/cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
}
.cover h1,.cover h3,.cover h4{
  color:white;
  text-align: center;
}
.covertitle{
  padding:60px 0;
}
.covertitle h1{
  font-size: 60px;
  font-family:cursive,fantasy,sans-serif;
  letter-spacing: 3px;
}
.covertitle h3{
  font-family:cursive,fantasy,sans-serif;
  letter-spacing: 3px;
  word-spacing: 2px;
}
.covercontent{
  margin:0 auto;
}
.covercontent h4{
  line-height: 25px;
  padding: 20px 0;
}
.workbutton{
  display: block;
  font-family:cursive,fantasy,sans-serif;
  margin: 0 auto;
  background-color: rgb(240, 84, 210);
  font-size: 18px;
  padding: 5px ;
  color: white;
  margin-top: 40px;
  margin-bottom: 0;
  border-color: rgb(240, 84, 210);
}
.trangle {  /*setting*/
    border-color: rgb(240, 84, 210) transparent transparent transparent;
    border-width: 20px;
    margin: 0 auto;
    height: 0px;
    width: 0px;
    position: relative;
    z-index: 1;
}
