@import "../modules/basic";

.albumset{
  position: relative;
  .downtri{
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid $DeepPink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
  }
  img{
    width: 100%;
    object-fit: cover;
  }
}
