@import "main_colors";


.folks {
  .talkbubble {
    letter-spacing: 1.5px;
    line-height: 40px;
    color: white;
  }

  .container {
    padding: 50px;
  }

  div h2 {
    color: $dark_red;
  }

  .card {
    display: inline-block;
    border-style: none;
    .card-title {
      letter-spacing: 4px;
      color: $dark_red;
    }
  }
}
