$articleDivHeight: 90em
// should be the same as $mainHeightuUnit*2 in mainTheme.css
$articleDivWidth: 80em
// should be the same as $mainWidth in mainTheme.css

$articleHeaderColor: #FFFFFF
$articleTextColor: #FFFFFF

$buttonColor: #FFFFFF
$buttonTextColor: #000000

// test color
$testBGColor1: #FA58F4
$testBGColor2: #6E6E6E
$testBGColor3: #F7FE2E


// #articles

#leftBlock
  float: left
  height: $articleDivHeight / 10 * 9
  width: $articleDivWidth / 2
  margin-bottom: 4.5em
  padding-left: 7em
  // background-color: $testBGColor1


#rightBlock
  float: right
  height: $articleDivHeight / 10 * 9
  width: $articleDivWidth / 2
  margin-bottom: 4.5em
  padding-right: 7em
  // background-color: $testBGColor2

.articleBlock
  margin: 0 auto
  width: $articleDivWidth * 2 / 7
  height: $articleDivHeight / 3
  color: $articleTextColor
  padding-top: 2em
  // background-color: $testBGColor3

#spacer
  margin: 0 auto
  text-align: center
  padding-top: 0.5em
  width: $articleDivWidth * 2 / 7
  height: $articleDivHeight / 12
  color: $articleTextColor
  // background-color: $testBGColor2

#block1
  margin-top: 2em

#block3
  margin-top: 12em

#backtoTopButton
  clear: both
  margin: 0 auto
  height: 3em
  width: 20%
  padding-top: 0.7em
  text-align: center
  color: $buttonTextColor
  background-color: $buttonColor
