.banner{
  color:$primary-font-color;
  @include banner-image("banner.png");
  text-align: center;
    h1{
      padding-top: 15%;
      font-size: 3em;

    }
    h3{
      font-size: 1.5em;
      padding-top: 10px;
    }
    p{
      padding-top:8%;
      padding-bottom: 11%;
    }
    .titleFix{
      max-width:100%;
      @include titleSize(1.5em,3.5em,320px);
    }

}
