.meet{
  background-color: $bg-color1;
  .titleFix{
    margin-top:100px;
    min-width: 100%;
    @include titleSize(1em,3em,100%);
  }

  .row{
    .col-sm-6{
      padding: 0px;
    }
  }
  .selfContainer{
    width: 60%;
    margin:0 auto;
  }
  // .paddingBottomFix{
  //   padding-bottom: 25px;
  // }
  .contact{
    padding: 40px;
  }
}
