.meetCard{

  text-align: center;
  img{
    width: 100%;
  }
  .meetName{
    color: $primary-color;
    font-size: 2em;
    padding-top: 15px;
  }
  .position{
    width: auto;
    padding-top: 5px;
  }
}
