.title{
  text-align: center;
  position: relative;
  margin:0 auto;
  background: $primary-color;
  color:$primary-font-color;
  &::before{
    position: absolute;
    margin-left:-20px;
    top:100%;
    left:50%;
    content:"";
    border: 20px solid transparent;
    border-top:20px solid $primary-color;
    width: 0;
    height: 0;
    z-index: 999;
  }
}
