@import '../modules/extendFontFamily';
@import '../modules/minxinMediaQueries';
@import '../modules/mixinFontSize';

.banner {
  background: url('../images/banner.png') no-repeat center center / cover;
  @extend %mainTitleFontFamily;
  @include font-size(16);
  color: $secondaryColor;
  text-align: center;
  min-height: calc(100vh - 52px);
  padding-bottom: 15vh;

  .banner__mainTitle {
    padding: 20vh 0 15vh;
  }

  h1 {
    
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.8em;
    letter-spacing: .1em;
  }

  h2 {
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: .3em;
    font-weight: 500;
  }

  p {
    letter-spacing: .1em;
    font-size: .9em;
    margin: 0 auto 12.5vh;
    max-width: 450px;
    line-height: 1.5em;
  }

  .banner__highlightWord {
    @extend %highlightFontFamily;
    margin-left: .5em;
    text-transform: lowercase;
    letter-spacing: 0;
  }

  .banner__paragraphSeparator, .banner__paragraphSeparator::before, .banner__paragraphSeparator::after {
    width: 9px;
    height: 9px;
    display: block;
    border-radius: 5px;
    background: $secondaryColor;
    margin: auto;
  }

  .banner__paragraphSeparator {
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 30px;
    }
  }

  @include media-xs {
    @include font-size(18);
  }

  @include media-sm {
    @include font-size(19);
  }

  @include media-md {
    @include font-size(20);
  }

  @include media-lg {
    @include font-size(24);
  }

}