@import '../modules/mixinMediaQueries';
@import '../modules/extendFontFamily';
@import '../modules/mixinFontSize';
@import '../modules/mixinSquare';

.banner {
  background: url('../images/banner.png') no-repeat center center / cover;
  color: $secondaryColor;
  text-align: center;
  min-height: calc(100vh - 53px);
  @extend %mainTitleFontFamily;
  @include fontSize(16);

  @include mediaMobile {
    @include fontSize(18);
  }

  @include mediaTablet {
    @include fontSize(19);
  }

  @include mediaPC {
    @include fontSize(20);
  }

  @include mediaLargeDevice {
    @include fontSize(24);
  }

  &__mainTitle {
    padding: 20vh 0 15vh;
  }

  h1 {
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.8em;
    letter-spacing: .1em;
  }

  h2 {
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: .3em;
    font-weight: 500;
  }

  p {
    letter-spacing: .1em;
    font-size: .9em;
    margin: 0 auto 12.5vh;
    max-width: 450px;
    line-height: 1.5em;
  }

  &__highlightWord {
    @extend %highlightFontFamily;
    margin-left: .5em;
    text-transform: lowercase;
    letter-spacing: 0;
  }
  

  &__paragraphSeparator {
    position: relative;

    @include square(9px);
    border-radius: 5px;
    background: $secondaryColor;
    margin: auto;

    &::before,
    &::after {
      @include square(9px);
      border-radius: 5px;
      background: $secondaryColor;
      margin: auto;
    }

    &::before{
      content: '';
      position: absolute;
      bottom: 30px;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      display: block;
    }
  }
}