@import '../modules/mixinMediaQueries';
@import '../modules/extendFontFamily';
@import '../modules/mixinFontSize';

footer {
  background: #e5e4e4;
  text-align: center;
  padding: 45px 0;
  font-weight: 600;
  letter-spacing: .15em;
  @extend %subTitleFontFamily;
  @include fontSize(18);

  a {
    color: $primaryColor;
  }
}
