@import '../modules/variblesColors';
@import '../modules/mixinFontSize';
@import '../modules/extendFontFamily';

header {
  background: $headerBackgroundColor;
  text-align: center;
  padding: 15px 0;
  @extend %subTitleFontFamily;
}

.headerMenu {
  a {
    color: $navLinkColor;
    padding: .5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    @include fontSize(18);
  }

  a + a {
    margin-left: 15px;
  }

  .now {
    color: $navLinkNowColor;
  }
}