@import '../modules/minxinMediaQueries';
@import '../modules/mixinPinkTitle';
@import '../modules/mixinFontSize';


.workClient {
  position: relative;
  @include font-size(16);
  margin-bottom: 120px;

  .workClient__titleContainer {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    text-align: center;

    @include media-xs {
      top: -63px;
    }

    @include media-sm {
      top: -64px;
    }

    @include media-md {
      top: -65px;
    }
  
    @include media-lg {
      top: -71px;
    }

  }

  h2 {
    @include pinkTitle(inline-block);

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: -10px;
      left: calc(50% - 10px);
      background: $primaryColor;
      transform: rotate(45deg);
      z-index: 1;
    }
}
  .workClients__gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr) ) ;
    font-size: 0;
  }
  .workClients__gridItem {
    position: relative;
  }

  .workClients__gridItem:hover {
    .workClients__description {
      visibility: visible;
      opacity: 1;
    }
  }

  .workClients__snapshot {
    width: 100%;
  }

  .workClients__description {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    color: #fff;
    background: rgba(255, 0, 67, .5);
    @extend %mainTitleFontFamily;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  @include media-xs {
    font-size: 1.15rem;
  }

  @include media-sm {
    font-size: 1.2rem;
  }

  @include media-md {
    font-size: 1.25rem;
  }

  @include media-lg {
    font-size: 1.5rem;
  }
}