@import '../modules/Colors';
@import '../modules/Font';


/* header */
$navLinkColor: $white;
$navLinkNowColor: $pink;
$headerBackgroundColor: $purple;


.headerMenu {
  background: $headerBackgroundColor;
  text-align: center;
  padding: 15px 0;
  @extend %subTitleFontFamily;

  a {
    color: $navLinkColor;
    padding: .5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    @include fontSize(18);
  }

  a + a {
    margin-left: 15px;
  }

  .now {
    color: $navLinkNowColor;
  }
}