@import '../modules/MediaQueries';
@import '../modules/SectionTitle';
@import '../modules/Font';


.workClients {
  position: relative;
  margin-bottom: 120px;
  @include fontSize(16);

  @include mediaMobile {
    @include fontSize(18);
  }

  @include mediaTablet {
    @include fontSize(19);
  }

  @include mediaPC {
    @include fontSize(20);
  }

  @include mediaLargeDevice {
    @include fontSize(24);
  }

  &__titleContainer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -60px;

    @include mediaMobile {
      top: -63px;
    }

    @include mediaTablet {
      top: -64px;
    }

    @include mediaPC {
      top: -65px;
    }
  
    @include mediaLargeDevice {
      top: -71px;
    }

  }

  h2 {
    @include sectionTitle(inline-block);
}
  &__gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );

    @include mediaLargeDevice {
      grid-template-columns: repeat(4, minmax(320px, 1fr));
    }
  }

  &__gridItem {
    position: relative;
  }

  &__gridItem:hover {
    .workClients__description {
      visibility: visible;
      opacity: 1;
    }
  }

  &__snapshot {
    width: 100%;
    display: block;
  }

  &__description {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    color: #fff;
    background: rgba(255, 0, 67, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    @extend %mainTitleFontFamily;
    @include fontSize(28);
  }
}