@import 'variable';
@import 'mixin';

main{
  color: $white;
}
#banner{
  @include  background_img('../images/banner.png');
  text-align:center;
  height: 641px;

  h1{
    font: italic normal normal 60px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    padding-top: 125px;
  }
  .title_web{
    letter-spacing:0.1rem;
  }
  .title_folk{
    font-family: lobster,cursive;
  }
  h5{
    margin-bottom:120px;
    font:$h5_font;
    letter-spacing:0.4rem;
  }
  h6{
    line-height:1.4rem;
    letter-spacing:0.1rem;
    margin-bottom: 50px;
  }
  @include dots(vertical);  
}
