@import 'variable';
@import 'mixin';

#folks {
  margin-bottom: 45px;
  h5 {
    text-align: center;
    color: $red;
    letter-spacing: 0.1em;
    font: $h5_font;
    margin: 50px 0;
  }
}

.folks_header_text {
  background-color: $red;
  color: $white;
  letter-spacing: 0.1em;
  text-align: center;
  font: normal normal normal 19px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  padding: 13px 0;
}

.folks_header {
  position: relative;
}

.folks_introduce {
  max-width: 810px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-content: center;

}

.introduce_item {
  text-align: center;
  @include img_fluid;

  h4 {
    margin-top: 15px;
    font: $h4_font;
    color: $red;
    letter-spacing: 0.1em;
  }

  p {
    font: $main_font;
    color: black;
    margin-bottom: 45px;
  }
}

.contact_button {
  text-align: center;
  a {
    display: inline-block;
    font: $main_font;
    background-color: rgba(0, 0, 0, 1);
    color: $white;
    border: solid rgba(113, 112, 112, 1) 0px;
    padding: 9px 55px;
    &:hover {
      background-color: $red;
    }
  }
}