@import 'variable';
@import 'extend';

.red_arrow{
  border-width: 20px;
  border-style: solid;
  border-color: $red transparent transparent transparent;
  top: -1px;
  z-index: 1;
  @extend %align_center;
}