@import 'variable';
@import 'mixin';
@import 'extend';

#mission {
  @include background_img('../images/sea-horse-bg.jpg', center center);

  .container {
    margin: 0 auto;
    max-width: 960px;
    color: $white;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    @include dots;
  }

  .block_left {
    padding-left: 1rem;
    padding-right: 4rem;
  }

  .block_right {
    padding-top: 15rem;
    padding-left: 4rem;
    padding-right: 1rem;
  }

  h4 {
    letter-spacing: 0.1em;
    font: $h4_font;
  }

  p {
    font: $main_font;
  }

  @media (max-width: 768px) {
    .block_left {
      padding-right: 1rem;
    }

    .block_right {
      padding-top: 4rem;
      padding-left: 1rem;
    }

    h4 {
      width: 100%;
    }
  }

  .back_button {
    text-align: center;
    padding: 2rem 0;
    a {
      padding: 11px 53px;
      background-color: $white;
      font: $main_font;
      color: #000;
      &:hover {
        background-color: $pink;
        color:$white;
      }
    }
  }
}