//color
$purple:rgba(54, 8, 54, 1);
$red:rgba(255, 0, 72, 1);
$white:#FFFFFF;
$pink:#FF5E8B;

//font

$main_font:normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
$h4_font:normal normal normal 40px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
$h5_font:normal normal normal 24px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;