@import "modules/main_colors";
@import "modules/set_image";


@mixin multi_column ($total_column: 2, $middle_space: 50px) {
    column-count: $total_column;
    column-gap: $middle_space;
}

@mixin margin_top2_bottom1 ($space: 1px) {
  margin-top: $space * 2;
  margin-bottom: $space;
}

@mixin padding_top2_bottom1 ($space: 1px) {
  padding-top: $space * 2;
  padding-bottom: $space;
}

.about_us {
  color: $light_gray;
  @include background_image("bg.jpg");
  // height: 200vh;
  padding: 25px;
  .about_text{
    @include padding_top2_bottom1(25px);

    @include multi_column(2, 120px);
    @media (max-width: 992px){
      @include multi_column(1, 0);
    }

    .line_spacer {
      @include margin_top2_bottom1(8vh);
      letter-spacing: 10px;
    }

    .about_us_spacer {
      padding: 25vh 0;
    }
  }
}
