@import "modules/_main_colors";

.footer {
  letter-spacing: 1.5px;
  line-height: 14vh;
  @include set_background_color_inver_font_color($light_gray);
  a {
    color: $light_pinky;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $dark_purple;
    }
  }
}
