@import "modules/main_colors";
@import "modules/menu";

div.nav {
  position: fixed;
  z-index: 2;
  width: 100%;

  padding: 14px 0;
  padding-right: 30px;

  @include set_background($dark_purple);

  ul.menu {
    li {
      a {
        @include set_font_color($dark_red);
        &:hover {
          @include set_font_color($light_gray);
        }
      }
    }
  }
}
