/* line 1, ../sass/article.scss */
article {
  margin-top: 52px;
  background: url(../images/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  overflow: auto;
}
/* line 8, ../sass/article.scss */
article h4 {
  margin-top: 3vw;
  font-family: times new roman;
  font-size: 40px;
  letter-spacing: 3px;
}
@media screen and (max-width: 767px) {
  /* line 15, ../sass/article.scss */
  article h4 {
    letter-spacing: 0px;
  }
}
/* line 20, ../sass/article.scss */
article p {
  margin-bottom: 6vw;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
}
/* line 27, ../sass/article.scss */
article ul {
  font-size: 28px;
  text-align: center;
  padding: 0;
}
/* line 31, ../sass/article.scss */
article ul li {
  display: inline-block;
  margin: 0px 8px;
}
/* line 37, ../sass/article.scss */
article .content-padding {
  padding-left: 6vw;
  padding-right: 6vw;
}
/* line 42, ../sass/article.scss */
article .top-blank {
  margin-top: 20vw;
}
/* line 46, ../sass/article.scss */
article button {
  display: block;
  margin: 5vw auto 25px auto;
  padding: 8px 65px;
  background-color: #fff;
  font-size: 20px;
}
/* line 47, ../sass/article.scss */
article button:focus {
  outline: none;
}

/* line 57, ../sass/article.scss */
.footer-style {
  background-color: #E5E4E5;
  font-size: 15px;
  letter-spacing: 2px;
}
/* line 61, ../sass/article.scss */
.footer-style a {
  color: #e64f65;
  text-decoration: none;
}
