/* line 1, ../sass/banner.scss */
.banner {
  background: url(../images/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* line 6, ../sass/banner.scss */
.banner h1 {
  padding-top: 10vw;
  margin-bottom: 0;
  font-style: italic;
  font-family: serif;
}
/* line 11, ../sass/banner.scss */
.banner h1 span {
  font-weight: bold;
}
/* line 15, ../sass/banner.scss */
.banner h6 {
  font-family: times new roman;
  letter-spacing: 7px;
  line-height: 10px;
}
/* line 20, ../sass/banner.scss */
.banner .banner-content {
  font-family: times new roman;
  letter-spacing: 1px;
  font-size: 19px;
  margin-top: 10vw;
}
/* line 26, ../sass/banner.scss */
.banner .point {
  font-size: 20px;
  margin-bottom: 0;
}
/* line 30, ../sass/banner.scss */
.banner h5 {
  padding: 15px 60px;
}
/* line 33, ../sass/banner.scss */
.banner .upper-style {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: -1px;
  z-index: 1;
}

/* line 42, ../sass/banner.scss */
.red-title-style {
  margin-bottom: 0;
  background-color: #e94043;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 1.5vw;
  letter-spacing: 3px;
}

/* line 51, ../sass/banner.scss */
.triangle {
  border-color: #e94043 transparent transparent transparent;
  border-style: solid solid solid solid;
  border-width: 20px 20px 0px 20px;
}

/* line 57, ../sass/banner.scss */
.second-red-title-style {
  margin-top: 8vw;
  color: #fff;
}

/* line 62, ../sass/banner.scss */
.second-triangle-style {
  width: 0;
  margin: 0 auto;
}
