/* line 2, ../sass/section.scss */
section h2 {
  color: #E94044;
  font-family: times new roman;
  font-size: 30px;
}
/* line 7, ../sass/section.scss */
section img {
  width: 100%;
}
/* line 10, ../sass/section.scss */
section h3 {
  color: #E94044;
  font-family: times new roman;
  font-size: 45px;
  letter-spacing: 5px;
  margin-top: 15px;
}
/* line 17, ../sass/section.scss */
section p {
  font-family: sans-serif;
  font-size: 15px;
}
/* line 21, ../sass/section.scss */
section button {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 65px;
}
/* line 22, ../sass/section.scss */
section button:focus {
  outline: none;
}
