@import'bootstrap/bootstrap.css';
@define-extend header-pa {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-1 {
  @extend header-pa;
  background-color: #000000;
  color: #FFFFFF;
  p {
    text-align: right;
  }
  p:hover {
    color: #00BFFF;
  }
}
.header-2 {
  @extend header-pa;
  background-color: #000000;
  color: #FFFFFF;
  p {
    text-align: left;
  }
  p:hover {
    color: #00BFFF;
  }
}
@media (max-width:767px) {
  .header-1 p{
    text-align: center;
  }
  .header-2 p{
    text-align: center;
  }
}
