body {
    padding: 0;
    margin: 0;
    border: 0;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.fixed-width {
    width: 980px;
    margin: 0 auto;
}

.nav {
    background:#360836;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

.nav ul {
    margin: 0;
    padding: 18px 0;
}

.nav li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

a .active {
    color: #FF5E8B !important;
}

.cover {
    height: 600px;
    position: relative;
    font-family: serif;
    background-image: url("../img/cover.png");
}

.image {
    width: 100%;
    text-align: center;
    background-size: 150% 100%;
    color: #fff;
}

.cover h1 {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -152px;
    width: 300px;
    font-size: 60px;
    font-weight: normal;
    font-style: italic;
}

.cover h2 {
    position: absolute;
    top: 175px;
    left: 50%;
    margin-left: -155px;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 30px;
}

.cover h3 {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -195px;
    width: 390px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: normal;
}

.cover .dots {
    position: absolute;
    top: 355px;
    left: 50%;
    margin-left: -6px;
}

.message {
    background-color: #FF0048;
    letter-spacing: 3px;
    padding: 16px 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

.cover .message {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -175px;
    width: 350px;
}

.triangle {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 21px 0 21px;
    border-color: #FF0048 transparent transparent transparent;
    z-index: 1px;
}

.work {
    position: relative;
    width: 100%;
}

.thumbnail {
    float: left;
    width: 337px;
    height: 252px;
}

.content {
    position: relative;
    width: 100%;
    text-align: center;
}

.content h1 {
    margin: 0;
    padding: 45px 0;
    color: #FF0048;
    font-weight: normal;
    font-size: 25px;
}

.folks {
    margin: 0 auto;
    width: 800px;
}

.profile {
    width: 400px;
    float: left;
    text-align: center;
}

.profile .name {
    color: #FF0048;
    font-size: 46px;
    margin: 15px 0 0 0;
}

.profile .description {
    font-family: sans-serif;
    margin: 0 0 30px 0;
}

.black {
    background-color: #000;
    color: #fff;
}

.white {
    background-color: #fff;
    color: #000;
}

.button {
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif;
    width: 212px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 40px;
}

.story {
    background-image: url("../img/footer.jpg");
    padding-bottom: 10px;
}

.left {
    margin-top: 50px;
}

.right {
    margin-top: 200px;
}

.column {
    width: 50%;
    float: left;
    padding: 0 80px 60px 80px;
    font-size: 14px;
}

.intro {
    text-align: left;
}

.intro p {
    font-family: sans-serif;
}

.v {
    max-width: 12px;
    word-break: break-all;
    line-height: 30px;
}

.dots {
    text-align: center;
    margin: 0 auto;
    font-size: 65px;
    letter-spacing: 13px;
    padding: 40px 0;
}

.claim {
    text-align: center;
    padding: 30px 0;
}
