.red_arrow, .works_heading_text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
}

.red_arrow {
  border-width: 20px;
  border-style: solid;
  border-color: #ff0048 transparent transparent transparent;
  top: -1px;
  z-index: 1;
}

header {
  background-color: #360836;
}
header nav {
  text-align: center;
  padding: 1rem 0;
}
header a {
  padding: 0 10px;
  color: #FF5E8B;
  font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
}
header a:hover {
  color: #FFFFFF;
}

main {
  color: #FFFFFF;
}

#banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 641px;
}
#banner h1 {
  font: italic normal normal 60px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
  padding-top: 125px;
}
#banner .title_web {
  letter-spacing: 0.1rem;
}
#banner .title_folk {
  font-family: lobster,cursive;
}
#banner h5 {
  margin-bottom: 120px;
  font: normal normal normal 24px/1.4em georgia, palatino, "book antiqua", "palatino linotype", serif;
  letter-spacing: 0.4rem;
}
#banner h6 {
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  margin-bottom: 50px;
}
#banner .dots {
  display: inline-block;
}
#banner .dots .dot {
  background-color: #FFFFFF;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-bottom: 25px;
}

.works_heading {
  position: relative;
}

.works_heading_text {
  font: normal normal normal 19px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  background-color: #ff0048;
  letter-spacing: 0.2rem;
  padding: 21px 89px;
  top: -68.42px;
}

@media (max-width: 768px) {
  .works_heading_text {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }
}
#works {
  margin-bottom: 125px;
}

.works_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.works_img img {
  display: block;
  width: 100%;
  height: auto;
}

.work_item {
  position: relative;
}
.work_item a {
  background-color: #ff0048;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  display: grid;
}
.work_item a p {
  font-size: 1.75rem;
  align-self: center;
}
.work_item a:hover {
  opacity: 0.5;
}

#folks {
  margin-bottom: 45px;
}
#folks h5 {
  text-align: center;
  color: #ff0048;
  letter-spacing: 0.1em;
  font: normal normal normal 24px/1.4em georgia, palatino, "book antiqua", "palatino linotype", serif;
  margin: 50px 0;
}

.folks_header_text {
  background-color: #ff0048;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-align: center;
  font: normal normal normal 19px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  padding: 13px 0;
}

.folks_header {
  position: relative;
}

.folks_introduce {
  max-width: 810px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-content: center;
}

.introduce_item {
  text-align: center;
}
.introduce_item img {
  display: block;
  width: 100%;
  height: auto;
}
.introduce_item h4 {
  margin-top: 15px;
  font: normal normal normal 40px/1.4em georgia, palatino, "book antiqua", "palatino linotype", serif;
  color: #ff0048;
  letter-spacing: 0.1em;
}
.introduce_item p {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  color: black;
  margin-bottom: 45px;
}

.contact_button {
  text-align: center;
}
.contact_button a {
  display: inline-block;
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  background-color: black;
  color: #FFFFFF;
  border: solid #717070 0px;
  padding: 9px 55px;
}
.contact_button a:hover {
  background-color: #ff0048;
}

#mission {
  background-image: url("../images/sea-horse-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#mission .container {
  margin: 0 auto;
  max-width: 960px;
  color: #FFFFFF;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
#mission .container .dots {
  padding: 100px 0 50px 0;
  text-align: center;
}
#mission .container .dots .dot {
  background-color: #FFFFFF;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 25px;
}
#mission .block_left {
  padding-left: 1rem;
  padding-right: 4rem;
}
#mission .block_right {
  padding-top: 15rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
#mission h4 {
  letter-spacing: 0.1em;
  font: normal normal normal 40px/1.4em georgia, palatino, "book antiqua", "palatino linotype", serif;
}
#mission p {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
}
@media (max-width: 768px) {
  #mission .block_left {
    padding-right: 1rem;
  }
  #mission .block_right {
    padding-top: 4rem;
    padding-left: 1rem;
  }
  #mission h4 {
    width: 100%;
  }
}
#mission .back_button {
  text-align: center;
  padding: 2rem 0;
}
#mission .back_button a {
  padding: 11px 53px;
  background-color: #FFFFFF;
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  color: #000;
}
#mission .back_button a:hover {
  background-color: #FF5E8B;
  color: #FFFFFF;
}

footer {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: #DDDDDD;
  padding: 3rem 0;
}
footer a {
  color: #ff0048;
}
