header{
  background-color: #360e36;
  padding-bottom: 8px;
  a{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    &:hover{
      color: #c54876;
      text-decoration: none;
    }  
  }
  .home{
    margin-right: 10px;
  }
  .contact{
    margin-left: 10px; 
  }
}
