@charset "UTF-8";
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

body {
  color: white;
}

/* navigation內的對齊(flex) */
#navigation .navigation__unlist--layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #310c34;
  /* 修改li的顏色 */
}
#navigation .navigation__unlist--layout .navigation__home--flex {
  flex-basis: 10%;
}
#navigation .navigation__unlist--layout .navigation__li--color a {
  color: white;
}
#navigation .navigation__unlist--layout .navigation__li--color a:hover {
  color: #ea334e;
  cursor: pointer;
}

#banner {
  text-align: center;
  background: url(../images/banner.png) 0 0/cover no-repeat;
  position: relative;
  /* banner title */
  /* dot's style */
}
#banner .banner__title--layout {
  padding: 80px 0;
}
#banner .banner__title--layout .banner__title--font {
  font-family: fantasy;
  font-weight: 700;
  text-transform: uppercase;
}
#banner .banner__title--layout .banner__title--font span {
  font-family: Comic Sans MS;
  font-style: italic;
  text-transform: none;
}
#banner .banner__content--layout {
  width: 320px;
  margin: 0 auto 0;
}
#banner .banner__dot--horizontal {
  width: 10px;
  position: relative;
  margin: 30px auto 0;
  padding-bottom: 130px;
  /* padding-bottom後面的值隨下方.banner__work-and-clients--absolute的height value */
}
#banner .banner__dot--horizontal .banner__dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
#banner .banner__dot--horizontal .banner__dot--layout {
  margin: 15px auto 15px;
}
#banner .banner__work-and-clients--relative {
  position: relative;
  margin: 0 auto 0;
  width: 300px;
  height: 100px;
  background-color: #ea334e;
}
#banner .banner__work-and-clients--relative .banner__work-and-clients--font {
  line-height: 100px;
  font-size: 24px;
  letter-spacing: 6px;
}
#banner .banner__work-and-clients--relative a {
  color: white;
  opacity: .5;
  transition: all .5s ease-in-out;
}
#banner .banner__work-and-clients--relative a:hover {
  opacity: 1;
  color: white;
}
#banner::after {
  content: "";
  border-top: solid #ea334e 24px;
  border-right: solid transparent 24px;
  border-bottom: solid transparent 0;
  border-left: solid transparent 24px;
  /* 參數：border的(上顏色,下顏色,上長度,右長度,下長度,左長度) */
  position: absolute;
  bottom: -24px;
  left: calc(50% - 24px);
  z-index: 1;
}

#pics {
  margin-bottom: 60px;
}
#pics .pic__pic1 {
  background: url(../images/p1.jpg) center center/cover no-repeat;
}
#pics .pic__pic2 {
  background: url(../images/p2.jpg) center center/cover no-repeat;
}
#pics .pic__pic3 {
  background: url(../images/p3.jpg) center center/cover no-repeat;
}
#pics .pic__pic4 {
  background: url(../images/p4.jpg) center center/cover no-repeat;
}
#pics .pic__pic5 {
  background: url(../images/p5.jpg) center center/cover no-repeat;
}
#pics .pic__pic6 {
  background: url(../images/p6.jpg) center center/cover no-repeat;
}
#pics .pic__pic7 {
  background: url(../images/p7.jpg) center center/cover no-repeat;
}
#pics .pic__pic8 {
  background: url(../images/p8.jpg) center center/cover no-repeat;
}
#pics .pic__pic9 {
  background: url(../images/p9.jpg) center center/cover no-repeat;
}
#pics .pic__pic10 {
  background: url(../images/p10.jpg) center center/cover no-repeat;
}
#pics .pic__pic11 {
  background: url(../images/p11.jpg) center center/cover no-repeat;
}
#pics .pic__pic12 {
  background: url(../images/p12.jpg) center center/cover no-repeat;
}
#pics .pics__pic--hover {
  height: 200px;
}
#pics .pics__pic--hover .pics__title {
  color: black;
  text-align: center;
  opacity: 0;
  font-size: 36px;
  line-height: 200px;
}
#pics .pics__pic--hover:hover {
  opacity: 0.3;
}
#pics .pics__pic--hover:hover .pics__title {
  opacity: 1;
}

#second-page {
  position: relative;
}
#second-page .second-page__link--relative {
  position: relative;
  height: 60px;
  background-color: #ea334e;
}
#second-page .second-page__link--relative .second-page__link--font {
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
}
#second-page .second-page__link--relative .second-page__link--font a {
  color: white;
  opacity: .5;
  transition: all .5s ease-in-out;
}
#second-page .second-page__link--relative .second-page__link--font a:hover {
  opacity: 1;
  color: white;
}
#second-page::after {
  content: "";
  border-top: solid #ea334e 24px;
  border-right: solid transparent 24px;
  border-bottom: solid transparent 0;
  border-left: solid transparent 24px;
  /* 參數：border的(上顏色,下顏色,上長度,右長度,下長度,左長度) */
  position: absolute;
  bottom: -24px;
  left: calc(50% - 24px);
  z-index: 1;
}

#folks {
  margin-top: 50px;
}
#folks .folks__title {
  font-size: 36px;
  color: #ea334e;
  text-align: center;
  margin-bottom: 50px;
}
#folks .folks__container {
  width: 100%;
  text-align: center;
}
#folks .folks__container .folks__staff {
  margin-bottom: 20px;
}
#folks .folks__container .folks__staff img {
  width: 100%;
}
#folks .folks__container .folks__staff .folks__name {
  color: #ea334e;
  font-weight: 700;
  font-size: 36px;
}
#folks .folks__container .folks__staff .folks__skills {
  color: #747474;
}
@media (min-width: 576px) {
  #folks .folks__container {
    width: 64%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=index.css.map */
