$font-color : #fff
$hover-color : #ff5e8b
$main-clolor : #ff0048

@mixin blockcenter($topbottom)
	margin: #{$topbottom} auto
@mixin fontset($fontfamily,$fontstyle,$font-weight)
	font-family: $fontfamily
	font-style: $fontstyle
	font-weight: $font-weight
@mixin bg($bgcolor)
	background : $bgcolor
@mixin bgimg($bgimg,$imgtype,$position,$repeat,$size)
	background-image: url(../image/#{$bgimg}.#{$imgtype})	
	background-position: $position
	background-repeat: $repeat
	background-size: $size
@mixin triangle
	content: ""
	position: absolute
	width: 0
	height: 0
	left: 0
	right: 0
	+blockcenter(0)
	bottom: -18px
	border-width: 18px 15px 0px
	border-style: solid
	border-color: $main-clolor transparent transparent 	

.nav-bar
	+bg(#360836)
	+blockcenter(0)
	padding: 20px
	color: $font-color
	font-size: 1.4em
.menu 
	text-align: center
	.active
		color: $hover-color
	li:hover,li:active
		color: $hover-color
	li 
		display: inline-block
		margin: 0px 20px
.banner
	+bgimg(cover,png,center,no-repeat,cover)
	position: relative
.bannertext ,.bannertext2
	+blockcenter(0)
	+fontset(serif,italic,400)
	width: 500px
	color: $font-color
	text-align: center
	padding: 120px 0px
	h2 
		display: inline-block
		font-size: 4em 
	h3
		font-size: 1.6em
		letter-spacing: 6px
		+fontset("Times New Roman",initial,initial)
.bannertext2
	padding: 50px 0px
	h3
		font-size: 1.3em
.dividers
	text-align: center
	color: $font-color
	margin: 40px 0
	li
		margin: 20px
		font-size: 0.4em
.mark
	+blockcenter(0)
	position: relative
	left: 0
	right: 0
	bottom: 0
	width: 120px
	+bg($main-clolor)  
	color: $font-color
	padding: 20px 70px
	text-align: center
	&:before
		+triangle
.work 
	img
		display: inline-block
		width: 25%
		font-size: 0px
		margin-top: -2px
		transition: all 0.3s
.memberblock 
	margin: 60px auto
	h2
		color: $main-clolor
		+fontset("Times New Roman",initial,initial)
		font-size: 2em
		margin: 50px 
		text-align: center
.member
	+blockcenter(0)
	width: 900px
	text-align: center
.member
	div
		display: inline-block
		width: 400px
		margin: 30px 0px
.member	
	h3
		color: $main-clolor
		+fontset("Times New Roman",initial,initial)
		font-size: 3em
		letter-spacing: 2px
		margin: 10px
.member	
	p
		margin: 5px
.contact_btn
	+blockcenter(40px)
	text-align: center
	button
		+bg(#000)
		color: $font-color
		border: 0px
		border-radius: 0px
		padding: 10px 50px
.backtop_btn
	width: 100%!important
	padding: 100px 0px 20px 0px  !important
.backtop_btn
	button
		display: block
		text-align: center
		+bg(#fff)
		color: #000
		border: 0px
		border-radius: 0px
		padding: 10px 50px
		+blockcenter(0px)
.essay
	color: $font-color
	+bg($main-clolor) 
	text-align: center
	padding: 15px
	position: relative
	letter-spacing: 3px
	&:before
		+triangle
.infor
	+bgimg(bg,jpg,top center,no-repeat,cover)
	padding: 30px
	text-align: center
.infor > div
	display: inline-block
	color: $font-color
	width: 380px
	line-height: 1.4em
	text-align: left
	padding: 45px
	vertical-align: top
.infor
	h2
		+fontset("Times New Roman",initial,initial)
		letter-spacing: 4px
		font-size: 3em
		margin: 25px 0px
		letter-spacing: 2px
.leftinfor,.rightinfor
	.dividers li 
		display: inline-block
.leftinfor
	.dividers
		margin: 90px 0px
.left1,.right1
	padding: 0px
.right2
	width: 100%
	height: 300px
.footer
	+bg(#e5e4e4)
	text-align: center
	padding: 40px
	letter-spacing: 2px
.footer
	span 
		color: $main-clolor
@media (max-width:320px)
	.work
		img
			width: 100%	
@media (max-width:527px)
	.memberblock
		margin: 30px
	.infor > div
		width: auto
		padding: 10px
	.infor h2
		font-size: 1.8em
	.member	
		img
			width: 100%
	.member	
		div
			width: 100%
@media (max-width:900px)
	.member	
		width: 100%
@media (max-width:1005px)
	.right2
		display: none
@media (min-width:320px)
	.work
		img
			width: 50%
@media (min-width:768px)
	.work
		img
			width: 33.333333%
@media (min-width:992px)
	.work
		img
			width: 25%

@media (max-width:600px)
	.bannertext ,.bannertext2
		width: 100%
