$font-stack: Helvetica, sans-serif;
$white: #fff;
$pink: rgb(244, 0, 100);
@mixin triangle_body ($body_height, $body_width) {
  position: relative;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  height: $body_height;
  width: $body_width;
  background: #888888;
  background-color: rgb(244, 0, 100);

  text-align: center;
}

@mixin triangle {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;

  border-color: $pink transparent transparent transparent;
  border-style: solid solid solid solid;
    /* 設定邊框大小可拼湊出任意形狀的三角形 */
  border-width: 15px 10px 15px 10px;
  bottom: -30px;
}

@mixin clear_padding {
  padding: 0px;
}

@mixin clear_margin {
  margin: 0px;
}

.remove_col_padding {
  @include clear_padding;
}
.navigation {
  text-align: center;
  background: rgb(40, 3, 41);
  color: $white;
  ul {
    margin-bottom: 0px;
    li {
      display: inline-block;
      margin: 10px;
    }
    li:hover {
      color: $pink;
    }
  }
}

.billboard {
  background-image: url("../images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  .billboard_content {
    text-align: center;
    font-weight: bold;
    color: white;
    #logo {
      padding-top: 100px;
      font-size: 55px;
      font-family:serif;
      font-style: italic;
    }
    #logo::after {
      content: "  folk";
      letter-spacing: 0px;
      font-size: 45px;
      font-family:cursive;
    }
    p:nth-child(2) {
      font-size: 25px;
      letter-spacing: 5px;
    }
    p:nth-child(3) {
      padding-top: 100px;
      font-size: 18px;
    }
    .billboard_bottom_up {
      @include triangle_body(60px, 300px);
      p {
        line-height: 60px;
      }
    }
    .billboard_bottom_up:after {
      @include triangle;
    }
  }
}

.imgs_list {
  z-index: -1;
  padding-bottom: 100px;
}

.billboard_bottom_down {
  @include triangle_body(50px, 102%);
  margin-left: 0px;
  p {
    color: $white;
    letter-spacing: 3px;
    line-height: 50px;
  }
}
.billboard_bottom_down:after {
  @include triangle;
}

.members {
  text-align: center;
  padding-bottom: 80px;
  p {
    font-size:11px;
    color: rgb(110, 110, 110);
    margin-top: 0px;
    padding-bottom: 20px;
  }
  h2 {
    color: $pink;
    padding-top: 15px;
    margin-bottom: 0px;
  }
  h5 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: $pink;
  }
  #member1, #member3 {
    float:right;
  }
  #member2, #member4 {
    float:left;
  }
  button {
    border-style: none;
    padding-top: 8px;
    width: 250px;
    background: black;
    color: $white;
    line-height: 30px;
  }

}
.spirit {
  color: $white;
  background-image: url("../images/bg.jpg");
  background-size: 100%;
  text-align: center;
  margin: 0px;
  #article1, #article2, #article3, #article4 {
    h2 {
      font-family:serif;
    }
    margin: 50px;
    padding-top: 20px;
    font-size: 15px;
    width: 370px;
    text-align: left;
  }
  #article1, #article3 {
    float: right;
  }
  #article2, #article4 {
    float: left;
  }
  #article2::before {
    content: "remain so span here to adjust the height of article";
    line-height: 200px;
    visibility: hidden;
  }
  button {
    border-style: none;
    padding-top: 8px;
    margin-bottom: 30px;
    width: 250px;
    background: $white;
    color: black;
    line-height: 30px;
  }
}
  .footer {
    background: rgb(221, 221, 221);
    .copyright {
      margin: 0px;
      line-height: 80px;
      text-align: center;
    }
    .copyright::after {
      content: "Wix.com";
      color: $pink;
    }
  }
