/* line 1, ../sass/banner.scss */
#banner {
  background-image: url("../img/cover.png");
  background-size: cover;
}
/* line 4, ../sass/banner.scss */
#banner #tittle {
  width: 400px;
  margin: auto;
  text-align: center;
  color: #fff;
}
/* line 9, ../sass/banner.scss */
#banner #tittle h1 {
  margin: 0;
  padding: 100px 30px 0px 30px;
  font-size: 50px;
  font-style: italic;
  letter-spacing: 4px;
  font-weight: normal;
}
/* line 17, ../sass/banner.scss */
#banner #tittle h2 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 6px;
  font-family: serif;
  font-weight: normal;
}
/* line 24, ../sass/banner.scss */
#banner #tittle p {
  margin: 100px 30px 0 30px;
  padding-bottom: 200px;
  font-size: 16px;
  letter-spacing: 2px;
}
/* line 31, ../sass/banner.scss */
#banner #info {
  top: -50px;
}
/* line 33, ../sass/banner.scss */
#banner #info #toptittle {
  width: 300px;
  height: 50px;
  margin: auto;
  background-color: #FF0048;
  color: #fff;
  text-align: center;
}
/* line 40, ../sass/banner.scss */
#banner #info #toptittle h3 {
  margin: 8px;
  padding-top: 15px;
  letter-spacing: 4px;
  font-weight: normal;
}
