/* line 1, ../sass/footer.scss */
footer {
  text-align: center;
  background-color: #DEDDDD;
  margin: 0;
}
/* line 5, ../sass/footer.scss */
footer a {
  color: #000;
  line-height: 60px;
  letter-spacing: 4px;
}
/* line 9, ../sass/footer.scss */
footer a:hover {
  text-decoration: none;
}
