$bn_fontcolor: #FFFFFF
$intro_fontcolor: #FF0048
$a_font: 18px
$font_m: 16px
$spacer-x: 10px
$spacer-y: 10px
@mixin m-0
	   		margin: 0

@mixin p-0
	   		padding: 0

@mixin mt-10
	   		margin-top: $spacer-x

@mixin mt-20
	   		margin-top: $spacer-x * 2

@mixin mb-10
	   		margin-bottom: $spacer-x

@mixin mb-20
	   		margin-bottom: $spacer-x * 2

@mixin ml-10
			margin-left: $spacer-y

@mixin mr-10
			margin-right: $spacer-y 	