$bn_fontcolor: #FFFFFF
$font_m: 16px
.banner
	z-index: 1
	background: url(../img/cover.png) no-repeat
	background-size: cover
	height: 600px
	text-align: center
	h1 , h2
		margin: 0 auto
		padding: 0
		color: $bn_fontcolor
	h1
		padding-top: 100px
		font-style: oblique
		letter-spacing: 2px
		font-size: $font_m*4
	h2
		margin-top: 20px
		font-size: $font_m*1.5
		letter-spacing: 7px
	p
		margin-top: 90px
		color: $bn_fontcolor
		font-size: $font_m*1.2
		font-family: Times New Roman
		letter-spacing: 2px


.info
	text-align: center
	h3
		margin: 0 auto
		padding: 10px 0
		letter-spacing: 4px
		margin-top: -46px
		color: $bn_fontcolor
		background: #FF0048
		max-width: 300px

.triangle	
	width: 0
	height: 0
	border-width: 20px 20px 0
	border-style: solid
	border-color: #FF0048 transparent transparent
	left: 50%
	margin-left: -20px
	position: absolute
	z-index: 9


