@import 'common.sass'

.footer
	text-align: center
	background: #DEDDDD
	
	p
		@include m-0
		font-size: $font_m*0.8
		@include p-0
		padding: 20px 0
		letter-spacing: 2px
		a
			text-decoration: none
			color: #FF5E8B
