@import 'common.sass'	

.item
	.pic
		@include m-0
		@include p-0
		figure
			
			position: relative
			overflow: hidden

		figcaption
			opacity: 0
			position: absolute
			left: 0
			top: 0
			text-align: center
			line-height: 100%
			font-size: 24px
			width: 100%
			height: 100%
			transition: ease 0.8s
			color: #FFFFFF
			padding: 35% 20%
	.pic 
		figcaption:hover
			opacity: 1
			background: #FF0048
		



