@charset "UTF-8";
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link {
  /* a連結底線消失 */
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: none;
  /* cursor: pointer;把滑鼠游標變成手指形狀 */
  cursor: pointer;
}

/*主要 = primary, 次要 = secondary,
3rd = tertiary, 4th = quaternary,*/
/************************************
排版用
------------------------------------*/
header, footer {
  display: flex;
  justify-content: center;
}

/************************************/
/************************************
文字樣式
------------------------------------*/
.studio-slogan, .studio-designer-container > h2, .designers-container h2, .studio-introduction-container h2 {
  font-family: 'Georgia';
}

/************************************/
/************************************
圓點樣式
------------------------------------*/
.studio-slogan::after, .studio-introduction-container .dot::after, .studio-introduction-container .dot::before {
  content: "...";
  display: block;
  font-size: 32px;
}

/************************************/
/************************************
對話框下倒三角形樣式
------------------------------------*/
.case-word-balloons::after, .designer-word-balloons::after {
  content: "";
  display: block;
  width: 0;
  /*  箭頭位置調整  */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  /*  箭頭樣式大小  */
  border-top: 25px solid #ea334e;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

/************************************/
/************************************
<a>的按鈕樣式
------------------------------------*/
.studio-designer-container a, .studio-introduction-container a {
  padding: 10px 30px;
  font-size: 16px;
}

/************************************/
body {
  color: #fff;
  font-family: "geometric";
}

/***** star header *****/
header {
  background: #310c34;
  padding: 20px;
}
header .navigation {
  display: flex;
}
header li:not(.nav-last-one) {
  padding-right: 3vw;
}
header a {
  color: #fff;
}
header a:hover {
  color: #ea334e;
}

/***** end header *****/
/***** star main *****/
main section:not(.studio-introduction-container) {
  text-align: center;
}
main img {
  width: 100%;
}

.studio-slogan {
  background: url(../img/banner.png) center/cover no-repeat;
  padding: 20px 20px 80px 20px;
  /* >div:first-child{
     letter-spacing: 8px;
   }*/
}
.studio-slogan h1 {
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  margin-top: 30px;
}
.studio-slogan div:nth-of-type(1) {
  letter-spacing: 8px;
}
.studio-slogan :last-child {
  width: 70vw;
  margin: 30px auto;
  letter-spacing: 5px;
}
.studio-slogan::after {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0 auto;
}
@media only screen and (min-width: 760px) {
  .studio-slogan {
    padding: 120px 0;
  }
  .studio-slogan h1 {
    font-size: 56px;
  }
  .studio-slogan div {
    font-size: 25.6px;
  }
  .studio-slogan > div:last-child {
    margin: 40px auto;
    font-size: 20.8px;
  }
}

.studio-case-container {
  position: relative;
}

.case-word-balloons {
  background: #ea334e;
  position: absolute;
  padding: 20px 0;
  width: 60%;
  top: -62px;
  left: 0;
  right: 0;
  margin: auto;
  letter-spacing: 5px;
}
.case-word-balloons::after {
  top: 62px;
}
@media only screen and (min-width: 760px) {
  .case-word-balloons {
    width: 40%;
  }
}
@media (min-width: 1020px) {
  .case-word-balloons {
    width: 30%;
  }
}

@media only screen and (min-width: 760px) {
  .studio-case {
    display: flex;
    flex-wrap: wrap;
  }
  .studio-case img {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 1020px) {
  .studio-case img {
    width: 25%;
    height: 100%;
  }
}

.studio-designer-container {
  margin: 10px 0;
}
.studio-designer-container > h2 {
  color: #ea334e;
  font-weight: 300;
}
.studio-designer-container a {
  background: #000;
  color: #fff;
  display: inline-block;
}

.designer-word-balloons {
  width: 100%;
  position: relative;
  background: #ea334e;
  padding: 10px;
  margin: 50px 0;
  letter-spacing: 2px;
}
.designer-word-balloons::after {
  bottom: -20px;
}

.designers-container {
  margin: 30px 0;
  padding: 0 40px;
}
.designers-container div:nth-child(n) {
  margin-bottom: 30px;
}
.designers-container h2 {
  color: #ea334e;
  font-weight: 300;
  margin-top: 10px;
}
@media only screen and (min-width: 760px) {
  .designers-container h2 {
    font-size: 32px;
  }
}
.designers-container small {
  color: #2b2b2b;
}
@media only screen and (min-width: 760px) {
  .designers-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
  }
  .designers-container .designer {
    width: 50%;
  }
}

.studio-introduction-container {
  background: url(../img/sea-horse-bg.jpg) no-repeat fixed;
  background-position: -270px center;
  background-size: cover;
  background-color: #000;
  padding: 70px 15px 20px;
}
.studio-introduction-container .grid-column {
  padding: 0 20px;
}
.studio-introduction-container h2 {
  font-weight: 300;
  letter-spacing: 5px;
}
.studio-introduction-container p {
  margin: 20px 0;
}
.studio-introduction-container a {
  background: #fff;
  color: #000;
  display: block;
  width: 169.31px;
  margin: 0 auto;
}
.studio-introduction-container .dot::after, .studio-introduction-container .dot::before {
  text-align: center;
  letter-spacing: 16px;
  padding: 20px 0 40px;
}
.studio-introduction-container .WhatWeBelieve-text::after {
  color: transparent;
}
@media only screen and (min-width: 760px) {
  .studio-introduction-container {
    padding: 70px 80px 20px;
    background-position: center;
    background-size: auto;
  }
  .studio-introduction-container h2 {
    font-size: 32px;
  }
}
@media (min-width: 1020px) {
  .studio-introduction-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .studio-introduction-container .WhoWeAre-text {
    margin-top: 250px;
  }
  .studio-introduction-container a {
    grid-column: 1/-1;
  }
  .studio-introduction-container .dot::after {
    color: transparent;
  }
}

/***** end main *****/
/***** star footer *****/
footer {
  color: #2b2b2b;
  background: #747474;
  padding: 20px;
  letter-spacing: 2px;
  text-align: center;
}
footer a {
  color: #ea334e;
}
footer a:hover {
  color: #fff;
}

/***** end footer *****/
