//color set
$lightPink: #ff0043;
$pink: #fc5988;
$white: #fff;
$gray: #e5e4e4;
$deepGray-1: #3c3b3b;
$deepGray-2: #2e2e2e;
$purple: #370537;
$black: #000;

//application

/* base */
$primaryColor: $lightPink;
$secondaryColor: $white;