$Main-color-1:#340836;// 深紫
$Main-color-2:#FF0048;// 粉紅
$Main-color-3:lightgray;
$Main-color-4:white;

$text-color-1:white;


$btn-text-color-1:white;
$btn-text-color-2:black;

$btn-bg-color-1:black;
$btn-bg-color-2:white;
$btn-bg-color-3:#FF0048;

// $btn-hover-bg-color:#FF0048;
//
// $card-hover-color:#FF0048;
//
// $link-color-hover:#FF0048;


%content-center {
  display: flex;
  justify-content: center;
}


@mixin bg($jpg,$background-size) {

  background: url($jpg);
  // background-repeat:no-repeat;
  // background-size: $background-size;
  background-size: cover;
  // background-size: contain;
 //  margin: 0 auto;
}
