#banner {
    text-align: center;
    background: url(../images/banner.png) 0 0 /cover no-repeat;
    position: relative;
    /* banner title */
    .banner__title--layout {
        padding: 80px 0;
        .banner__title--font {
            font-family: fantasy;
            font-weight: 700;
            text-transform: uppercase;
            span {
                font-family: Comic Sans MS;
                font-style: italic;
                text-transform: none;
            }
        }
    }
    .banner__content--layout {
        width: 320px;
        @include hori-align;
    }
    /* dot's style */
    .banner__dot--horizontal {
        width: 10px;
        position: relative;
        @include hori-align(30px,0);
        padding-bottom: (30px + 100px);
        /* padding-bottom後面的值隨下方.banner__work-and-clients--absolute的height value */
        .banner__dot {
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            border-radius: 50%;
        }
        .banner__dot--layout {
            @include hori-align(15px, 15px);
        }
    }
    .banner__work-and-clients--absolute {
        position: relative;
        @include hori-align;
        width: 300px;
        height: 100px;
        background-color: $sub-color;
        .banner__work-and-clients--font {
            line-height: 100px;
            font-size: 24px;
            letter-spacing: 6px;
        }
    }
    &::after {
        content: "";
        @include triangle-y($sub-color, transparent, 24px, 24px, 0, 24px);
        /* 參數：border的(上顏色,下顏色,上長度,右長度,下長度,左長度) */
        position: absolute;
        bottom: -24px;
        left: calc(50% - 24px);
        z-index: 1;
    }
}













