#banner {
    text-align: center;
    background: url(../images/banner.png) 0 0 /cover no-repeat;
    position: relative;
    /* banner title */
    .banner__title--layout {
        padding: 80px 0;
        .banner__title--font {
            font-family: fantasy;
            font-weight: 700;
            text-transform: uppercase;
            span {
                font-family: Comic Sans MS;
                font-style: italic;
                text-transform: none;
            }
        }
    }
    .banner__content--layout {
        width: 320px;
        margin: 0 auto;
    }
    /* dot's style */
    .banner__dot--horizontal {
        width: 10px;
        position: relative;
        margin: 20px auto;
        .banner__dot {
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            border-radius: 50%;
        }
        .banner__dot--layout {
            margin: 15px 0;
        }
    }
    
}













