#folks {
    position: relative;
    .folks__link--relative {
        position: relative;
        height: 60px;
        background-color: $sub-color;
        .folks__link--font {
            line-height: 60px;
            letter-spacing: 2px;
            text-align: center;
            font-family: $sub-font-family;
            @include a-hover;
        }
    }

    &::after {
        content: "";
        @include triangle-y($sub-color, transparent, 24px, 24px, 0, 24px);
        /* 參數：border的(上顏色,下顏色,上長度,右長度,下長度,左長度) */
        position: absolute;
        top: 60px;
        left: calc(50% - 24px);
        z-index: 1;
    }
    .folks__title{
        font-size: 36px;
        color: $sub-color;
        text-align: center;
        margin: 50px 0;
    }
    .folks__container{
        width: 100%;
        text-align: center;
        .folks__staff {
            margin-bottom:20px;
            img {
                width: 100%;
            }
            .folks__name {
                color: $sub-color;
                font-weight: 700;
                font-size: 36px;
            }
            .folks__skills{
                color: rgb(116, 116, 116);
                font-family: $sub-font-family;
            }
        }
        button {
            @extend %btn-style;
            background-color: black;
            color: $main-color;
            margin-bottom: 50px;
        }
    }
    @media (min-width: 576px) {
        .folks__container {
            width: 64%;
            margin: 0 auto;
        }
    }
}