/* navigation內的對齊(flex) */
#navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(49, 12, 52);
}

.navigation__home--flex {
    flex-basis: 10%;
}
/* 修改li的顏色 */
.navigation__li--color {
    color: $main-color;
}
.navigation__li--color:hover {
    color: $sub-color;
    cursor: pointer;
}

