@mixin hori-align ($top: 0, $bottom: 0) {
    margin: $top auto $bottom;
}

@mixin triangle-y ($color-top, $color-bottom, $leight-top, $leight-right, $leight-bottom, $leight-left) {
    border-top: solid $color-top $leight-top;
    border-right: solid transparent $leight-right;
    border-bottom: solid $color-bottom $leight-bottom;
    border-left: solid transparent $leight-left;
}

@mixin a-hover ($color: rgba(255, 255, 255,.5), $hover-color: rgba(255, 255, 255, 1)) {
    a{
        color: $color;
        transition: all .5s ease-in-out;
        &:hover {
            color: $hover-color;
        }
    }

}