#pics {
    position: relative;
    margin-bottom: 60px;
    
    .banner__work-and-clients--relative {
        position: absolute;
        left: calc(50% - 150px);
        top: -100px;
        width: 300px;
        height: 100px;
        background-color: $sub-color;
        z-index: 2;
        text-align: center;
        .banner__work-and-clients--font {
            line-height: 100px;
            font-size: 24px;
            letter-spacing: 6px;
        }
        @include a-hover;
    }
    &::before {
        content: "";
        @include triangle-y($sub-color, transparent, 24px, 24px, 0, 24px);
        // 參數：border的(上顏色,下顏色,上長度,右長度,下長度,左長度)
        position: absolute;
        top: 0;
        left: calc(50% - 24px);
        z-index: 1;
    }

    .pic__pic1 {
        background: url(../images/p1.jpg) center center /cover no-repeat;
    }

    .pic__pic2 {
        background: url(../images/p2.jpg) center center /cover no-repeat;
    }

    .pic__pic3 {
        background: url(../images/p3.jpg) center center /cover no-repeat;
    }

    .pic__pic4 {
        background: url(../images/p4.jpg) center center /cover no-repeat;
    }

    .pic__pic5 {
        background: url(../images/p5.jpg) center center /cover no-repeat;
    }

    .pic__pic6 {
        background: url(../images/p6.jpg) center center /cover no-repeat;
    }

    .pic__pic7 {
        background: url(../images/p7.jpg) center center /cover no-repeat;
    }

    .pic__pic8 {
        background: url(../images/p8.jpg) center center /cover no-repeat;
    }

    .pic__pic9 {
        background: url(../images/p9.jpg) center center /cover no-repeat;
    }

    .pic__pic10 {
        background: url(../images/p10.jpg) center center /cover no-repeat;
    }

    .pic__pic11 {
        background: url(../images/p11.jpg) center center /cover no-repeat;
    }

    .pic__pic12 {
        background: url(../images/p12.jpg) center center /cover no-repeat;
    }
    .pics__pic--hover{
        height: 200px;
        .pics__title {
            color: black;
            text-align: center;
            opacity: 0;
            font-size: 36px;
            line-height: 200px;
        }
    }
    .pics__pic--hover:hover {
        opacity: 0.3;
        .pics__title {
            opacity: 1;
        }
    }
}

