#second-page {
    position: relative;
    .second-page__title--relative {
        position: relative;
        height: 60px;
        background-color: $sub-color;
        .second-page__title--font {
            line-height: 60px;
            letter-spacing: 2px;
            text-align: center;
            @include a-hover;
        }
    }
    &::after {
        content: "";
        @include triangle-y($sub-color, transparent, 24px, 24px, 0, 24px);
        /* 參數：border的(上顏色,下顏色,上長度,右長度,下長度,左長度) */
        position: absolute;
        bottom: -24px;
        left: calc(50% - 24px);
        z-index: 1;
    }
}