.footer {
  text-align: center;
  margin: 20px;
  font-family: sans-serif;
  font-size: 18px;

  span {
    @include main_font_color;
  }
}
@mixin footer_in_540() {
  .footer {
    font-size: 14px;
  }
}