.intr {
  background-image: url("../image/bg.jpg");
  @include background_style;
  padding-bottom: 50px;

  .row {
    display: inline-flex;

    .intr_info {
      &:last-child {
        margin-top: 200px;
      }

      .intr_info_1,
      .intr_info_2 {
        text-align: justify;
        margin: 50px 100px 100px;
      }

      p {
        margin: 20px 0;
        font-size: 18px;
        font-weight: bold;
      }

      h1 {
        text-align: left;
        font-size: 40px;
      }

      h2 {
        font-size: 36px;
      }
    }
  }

  .intr_button {
    background-color: #fff;
    color: #000;
    width: 200px;
    margin: 50px auto 0;
    padding: 10px;
  }
}
@mixin intr_in_1024() {
  .intr {
    .row {
      .intr_info {
        .intr_info_1,
        .intr_info_2 {
          margin: 50px;
        }
      }
    }

    .intr_button {
      margin: 20px auto;
    }
  }
}
@mixin intr_in_768() {
  .intr {
    .row {
      display: block;

      .intr_info {
        &:last-child {
          margin-top: 0;
        }

        .intr_info_1,
        .intr_info_2 {
          margin: 20px;
        }
      }
    }
  }
}