.lecturer {
  text-align: center;

  .title {
    color: #fff;
    margin-top: 100px;
    padding: 15px 0;
    font-size: 24px;
    @include slogon;

    &::before {
      @include arrow;
    }
  }

  p {
    @include main_font_color;
    font-size: 32px;
    margin: 50px 0;
    font-family: sans-serif;
  }

  .row {
    @include row;

    img {
      width: 100%;
    }

    .row_null {
      width: 25%;
    }

    .row_left {
      width: 25%;
      text-align: right;
    }

    .row_right {
      width: 25%;
      text-align: left;
    }

    h1 {
      margin-top: 10px;
      text-align: center;
      font-size: 48px;
      @include main_font_color;
    }

    p {
      text-align: center;
      color: #000;
      font-size: 24px;
      margin: 0;
    }
  }
}