@mixin main_font_color {
  color: #d93b6d;
}
@mixin row {
  display: flex;
  font-size: 0;
}
@mixin slogon {
  background-color: #d93b6d;
  font-family: sans-serif;
  position: relative;
}
@mixin arrow {
  position: absolute;
  margin: 0 auto;
  bottom: -40px;
  left: 50%;
  content: '';
  border-top: 20px solid #d93b6d;
  border-bottom: 20px solid transparent;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  z-index: 1;
}