.slides_background {
  background-image: url("../image/banner.png");
  @include background_style;

  h1 {
    font-size: 48px;
    margin-top: 150px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 150px;
  }

  p {
    font-size: 24px;
  }

  .slides_slgon {
    margin: 30px auto 0;
    width: 200px;
    font-size: 24px;
    padding: 20px 60px;
    @include slogon;

    &::before {
      @include arrow;
    }
  }
}

.row {
  @include row;

  .row_img {
    width: 25%;

    img {
      width: 100%;
      height: auto;
      opacity: 1.0;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}