@import url('https://fonts.googleapis.com/css?family=Lobster|Noto+Serif|Source+Sans+Pro:300');

// family

%mainTitleFontFamily {
  font-family: 'Noto Serif', serif;
}

%subTitleFontFamily {
  font-family: 'Source Sans Pro', sans-serif;
}

%highlightFontFamily {
  font-family: 'Lobster', cursive;
}


// font-family: 'Noto Serif', serif;
// font-family: 'Lobster', cursive;
// font-family: 'Noto Sans', sans-serif;