@import url('https://fonts.googleapis.com/css?family=Lobster|Noto+Sans|Noto+Serif');

// family

%titleFontFamily {
  font-family: 'Noto Serif', serif;
}

%highlightFontFamily {
  font-family: 'Lobster', cursive;
}

%contentFontFamily {
  font-family: 'Noto Sans', sans-serif;
}

// font-family: 'Noto Serif', serif;
// font-family: 'Lobster', cursive;
// font-family: 'Noto Sans', sans-serif;