@import './mixinSquare';
@import './minxinMediaQueries';

@mixin pinkTitle ($status: block){
  position: relative;
  background: $primaryColor;
  color: $secondaryColor;
  font-size: 1em;
  font-weight: 500;
  @extend %subTitleFontFamily;

  &::after {
    content: '';
    position: absolute;
    @include square(20px);
    bottom: -10px;
    left: calc(50% - 10px);
    background: $primaryColor;
    transform: rotate(45deg);
    z-index: 1;

    @include media-md {
      @include square(30px);
      bottom: -15px;
      left: calc(50% - 15px);
    }
  }

  @if ( $status == inline-block ) {
    display: inline-block;
    padding: 20px 60px;
    letter-spacing: .2em;

    @include media-xs {
      padding: 20px 100px;
    }
  }

  @if ( $status == block ) {
    display: block;
    padding: 15px 0;
    text-align: center;
    letter-spacing: .05em;
  }

  
}