body{
  font-family: sans-serif;
  margin: 0;
}
header{
  background-color: #360836;
  ul{
    margin: 0;
    text-align: center;
    li{
      display: inline-block;
      padding: 0 5px 0 5px;
      a{
        padding: 0 20px;
        color: #ff5E8B;
        line-height: 60px;
        font-size: 18px;
        text-decoration: none;
        &:hover{
          color: #fff;
          text-shadow: 3px 3px 2px #fff;
          transition: 1s;
          font-size: 24px;
          text-decoration: none;
        }
        &:focus {
          color: #ff4444;
          font-size: 24px;
        }
      }
    }
  }
}
