#banner
	+banner-bg(banner,png)
	position: relative
	height: 550px
	#banner-text	
		color: $text-color
		margin-top: 100px		
		h1
			font-size: 50px
			font-style: italic
			letter-spacing: 0.1em
			line-height: 100%
		h4
			font-size: 20px
			letter-spacing: 0.4em
			line-height: 100%			
		p 
			font-size: 20px			
			letter-spacing: 0.1em
			margin-top: 100px			
		#work	
			position: absolute
			left: 50%
			bottom: 0%
			transform: translate(-50%, 0)
			background-color: $banner-bgcolor
			width: 300px
			height: 60px
			font-size: 20px
			letter-spacing: 0.1em
			line-height: 60px
		.triangle
			@extend %triangle-down
			left: 0
			right: 0
			bottom: -50px
			z-index: 1
			position: absolute

			
				
			
			

