/* line 4, ../../sass/modules/menu.scss */
ul.menu {
  margin-bottom: 0;
}
/* line 6, ../../sass/modules/menu.scss */
ul.menu li {
  display: inline-block;
  padding: 0 1vw;
  font-size: 1rem;
  transition: color 0.3s;
}
