/* line 20, ../../sass/modules/talkbubble.scss */
.talkbubble {
  color: #E4E3E3;
  position: relative;
  line-height: 40px;
  padding: 4px;
  background-color: #FF0040;
  line-height: 60px;
  font-size: 1rem;
}
/* line 29, ../../sass/modules/talkbubble.scss */
.talkbubble:before {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  content: "";
  border-top: 15px solid #FF0040;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: 1;
}
