header {
  background-color: #280128;
  margin-bottom: -20px;
}
header a {
  font-size: 15px;
  font-weight: lighter;
  line-height: 45px;
  color: #fb4278;
}
header a:hover, header a:active {
  text-decoration: none;
  color: #ffffff;
}

#cover {
  background-image: url("../img/cover.png");
  background-size: cover;
  color: #FFFFFF;
  padding-bottom: 100px;
}
#cover h1 {
  font-style: italic;
  font-size: 64px;
  padding-top: 100px;
}
#cover h2 {
  font-weight: lighter;
  margin: 0;
}
#cover h3 {
  font-weight: lighter;
  margin-top: 150px;
}

#work {
  padding: 0;
  margin: 0;
  position: relative;
  color: #FFFFFF;
}
#work div {
  padding: 0;
  margin: 0;
}
#work img {
  width: 100%;
}
#work .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 35% 20%;
  background-color: rgba(246, 0, 44, 0);
  color: rgba(225, 225, 225, 0);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#work .layer:hover {
  background-color: #f6002c;
  color: #e1e1e1;
}

.title {
  position: absolute;
  left: 50%;
  width: 300px;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  overflow: visible;
  z-index: 10;
  margin-left: -150px;
  margin-top: -45px;
  background-color: #fb0039;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fb0039;
  position: absolute;
  left: 50%;
  margin-left: -20px !important;
  z-index: 10;
}

#product .container {
  max-width: 800px;
}
#product .fullwidth {
  width: 100%;
  margin-left: -50%;
  color: #FFFFFF;
}
#product h2 {
  color: #fb0039;
  line-height: 90px;
}
#product h3 {
  color: #fb0039;
  margin-top: 5px;
}
#product h4 {
  color: #000000;
  font-weight: lighter;
  margin-bottom: 30px;
}
#product .contact {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
  color: #FFFFFF;
  background-color: #000000;
}
#product .contact:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #fb0039;
}

#wwwh {
  background-image: url("../img/bg.jpg");
  background-position: center;
  color: #FFFFFF;
}
#wwwh .container {
  width: 80%;
}
#wwwh .position-mid {
  margin-top: 200px;
}
#wwwh .padding-w {
  padding: 10% 5%;
}
#wwwh .padding-w div {
  margin-top: 30px;
}
#wwwh .back {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
  color: #000000;
  background-color: #FFFFFF;
}
#wwwh .back:hover {
  text-decoration: none;
  color: #000000;
  background-color: #fb0039;
}

footer {
  background-color: #d5d4d4;
  font-size: 16px;
  line-height: 80px;
  height: 80px;
}
