@import "common";
.title{
  position: relative;
  background: $rne_mainred;
  text-align: center;
  @include fontset(22px,100%,#fff,padding,20px,border,0,margin,0);
  &:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 22.5px 0 22.5px;
    border-color: #ff0048 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -22.5px;
    z-index: 9;
  }
}

/*-----banner-----------------------------------*/
.banner{
  background: url(../img/banner.png) center center no-repeat;
  background-size: cover;
  position: relative;
  img{
    width: 100%
  }
  .slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -109px;
    margin-left: -150px;
    width: 300px;
    text-align: center;
    h1{
      @include fontset(50px,100%,#fff,padding-bottom,20px,border,0,margin,0);
      font-style: italic;
    }
    h2{
      @include fontset(20px,100%,#fff,padding,0,border,0,margin,0);
    }
    p{
      @include fontset(16px,24px,#fff,padding,0,border,0,margin-top,80px);
    }
  }
}

/*-----porfolio-----------------------------------*/
.portfolio{
  .title{
    width: 355px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: -62px;
  }
  .piece figure{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
    }
    figcaption{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      &:before{
        content: "";
        width: 0%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      @include fontset(20px,100%,#fff,padding,0,border,0,margin,0);
      @include opacity(0);
      @include transition(0.8s ease);
    }
    &:hover figcaption{
      @include opacity(1);
      background: $rne_mainred;
    }
  }
}

/*-----team-----------------------------------*/
.team{
  padding: 100px 0 50px 0;
  h3{
    line-height: 30px;
  }
  h4{
    @include fontset(24px,100%,$rne_mainred,padding,30px,border,0,margin,0);
    text-align: center;
  }
  .container{
    max-width: 800px;
    .piece figure{
      img{
        width: 100%;
      }
      figcaption{
        text-align: center;
        @include fontset(30px,40px,$rne_mainred,padding,15px 0 10px 0,border,0,margin,0);
        div{
          @include fontset(18px,22px,#222,padding,0,border,0,margin-bottom,30px);
        }
      }
    }
  }
  a.contact{
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    background: #000;
    @include fontset(18px,40px,#fff,padding,0,border,0,margin,15px auto);
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after{
      position: absolute;
      left: -5%;
      bottom: 0;
      z-index: -1;
      content: "";
      width: 0;
      height: 120%;
      background: $rne_mainred;
      @include transform(skewX(25deg));
      @include transition(0.5s ease);
    }
    &:hover:after{
      width: 120%;
      left: -10%;
    }
  }
}

/*-----intro-----------------------------------*/
.intro{
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 100px 0 30px 0;
    section{
      @include fontset(16px,22px,#fff,padding,0 30px,border,0,margin,0);
      h3{
        @include fontset(35px,100%,#fff,padding-bottom,20px,border,0,margin,0);
      }
    }
  button.top{
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    background: #fff;
    @include fontset(18px,40px,#000,padding,0,border,0,margin,15px auto);
    @include transition(all 1.5s cubic-bezier(0.19, 1, 0.22, 1));
    @include box-shadow(inset 0 0 20px rgba(255, 255, 255, 0));
    @include text-shadow(none);
    border: 1px solid;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    &:hover{
      @include box-shadow(inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2));
      @include text-shadow(1px 1px 2px darken($rne_subred,10%));
      border: 1px solid;
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      background: $rne_subred;
    }
  }
}










/*=====RWD===================================*/
/*768↓（480~768）*/
@media (max-width:767px){
}



/*480↓*/
@media (max-width:479px){
  .intro section h3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
}



/*768~1023*/
@media (min-width:768px) and (max-width:1023px){
  .intro .piece:nth-child(2){
    margin-top: 200px;
  }
}



/*1024↑（1024~1279）*/
@media (min-width:1024px){
  .intro .piece:nth-child(2){
    margin-top: 200px;
  }
}



/*1280↑*/
@media (min-width:1280px){
}



/*1280↑*/
@media (min-width:1280px){
}
