#client {
  position: relative;
  
  .label {
    @include botton-overtop;
    font-size: 19px;
    letter-spacing: 0.2em;
    button {
      @include font($font-family:$font-family-p);
      @include botton(10px,80px);
    }
    .downarrow {
      @extend %down-arrow;
    }
  }
  
  .client {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .client-text {
      @include overlay();
      @include X-center(40px,0px,0px);
      background-color: $color-hot;

      font-family: Georgia, 'Times New Roman', Times, serif;
      opacity: 0;
      transition: 0.5s;
      @include hover($color-default,$color-background:$color-hot);
    }

  }
}
