body {
  background-color: #fff;
}

/*---------- common use ----------*/
.title {
  background-color: #FF0048;
  color: #fff;
}

.triangle {
  width: 50px;
  margin: 0 auto;
  border-left: 25px solid rgba(255,255,255, 0);
  border-top: 25px solid #FF0048;
  border-right: 25px solid rgba(255,255,255, 0);
  position: relative;
  z-index: 999;
}

.block {
  position: relative;
  padding: 0;
  margin: 0;
}

.img {
  width: 100%;
}

.author {
  padding: 20px 0 30px 0;
  h1 {
    padding: 0;
    margin: 0;
    font-family: Kepler;
    font-weight: bold;
    color: #FF0048;
    letter-spacing: 6px;
  }
  h5 {
    padding: 0 0 10px 0;
    margin: 0;
    letter-spacing: 1px;
  }
}

.intro_block {
  padding: 40px 50px;
  .intro_content_title {
    font-size: 32px;
    margin: 10px auto;
    color: #fff;
  }
  .intro_content_text {
    padding: 5px 0;
    margin: 0;
    color: #fff;
  }
}

/*---------- main content-info ----------*/
#info {
  position: relative;
  top:-50px;
  #topTitle {
    width: 300px;
    margin: 0 auto;
    h4 {
      padding: 0;
      margin: 0;
      line-height: 50px;
      letter-spacing: 3px;
    }
  }
  .block {
    figure {
      position: relative;
      top: -25px;
      figcaption{
        width: 100%;
        height: 100%;
        padding: 31% 10%;
        position: absolute;
        top: 0%;
        left: 0%;
        text-align: center;
        opacity: 0;
        &:hover {
          background-color: rgba(205,45,95, 0.8);
          color: #fff;
          transition: 1s ease-in-out;
          font-size: 30px;
          text-shadow: 1px 2px 3px #dcdbdb;
          letter-spacing: 3px;
          opacity: 1;
        }
      }
    }
  }
}

/*---------- main content-member ----------*/
#team {
  padding-top: 50px;
  #downTitle {
    padding: 0;
    margin: 0;
    h4 {
      padding: 0;
      margin: 0;
      line-height: 45px;
      letter-spacing: 2px;
    }
    h3 {
      margin: 40px 0 50px 0;
      color: #FF0048;
      letter-spacing: 2px;
    }
  }
  #member {
    width: 60%;
  }
  #contaceBtn {
    background-color: #000;
    padding: 8px 60px;
    border: 2px solid #FF5E8B;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    &:hover {
      color: #FF5E8B;
      transition: 1s ease-in-out;
      text-decoration: none;
      font-weight: bolder;
      font-size: 18px;
    }
  }
}

/*---------- main content-introduction ----------*/
#intro {
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 20px;
  #intro_content {
    width: 85%;
    padding: 10px 50px;
    #intro_content_right {
      margin-top: 200px;
    }
  }
  #BackBtn {
    background-color: #fff;
    padding: 10px 50px;
    border: 3px solid;
    border-radius: 10px;
    margin-top: 30px;
    letter-spacing: 2px;
    &:hover {
      box-shadow:2px 2px 4px 30px rgba(255, 94, 139, 0.4) inset;
      transition: 1s ease-in-out;
      text-decoration: none;
      font-weight: bolder;
      font-size: 16px;
      letter-spacing: 4px;
    }
  }
}

/*=============== RDW ===============*/
  /*----- xs:768↓（480~768） -----*/
@media (max-width:767px){
  .intro_block {
    padding: 40px 10px;
  }

  #intro_content_right {
    margin-top: 0px;
  }
}

  /*----- sm:768~991 -----*/
@media (min-width:768px) and (max-width:991px){
  .intro_block {
    padding: 40px 10px;
  }

  #intro_content_right {
    margin-top: 0px;
  }
}

  /*----- md:768~991 -----*/
@media (min-width:992px) and (max-width:1199px){

}

  /*----- lg:768~991 -----*/
@media (min-width:1200px){

}
