#client .label .downarrow, #members .title .downarrow {
  border-top: 30px solid #ff0048;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

#intro .container .how .dot-group.md, #intro .container .believe .dot-group.md, #intro .container .believe .dot-group.sm, #intro .container .what .dot-group.sm {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#intro .container .how .dot-group.md .dot, #intro .container .believe .dot-group.md .dot, #intro .container .believe .dot-group.sm .dot, #intro .container .what .dot-group.sm .dot {
  display: inline-block;
  border: 5px solid white;
  border-radius: 5px;
  margin: 20px 20px;
  width: 0;
}

#nav {
  background-color: #360836;
}
#nav nav button {
  border: 1px solid white;
}
#nav nav button span {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat center;
}
#nav nav a {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-style: normal;
  transition: 0.5s;
}
#nav nav a:hover {
  opacity: 1;
  background-color: transparent;
  color: #ff0048;
  transition: 1s;
  cursor: pointer;
}

#cover {
  background: url(../img/banner.png) no-repeat center;
  background-size: cover;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-style: normal;
}
#cover .title {
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  padding-top: 20vh;
}
#cover .title h1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 60px;
}
#cover .title h1 span {
  text-transform: lowercase;
  font-family: 'lobster',cursive;
}
#cover .title p {
  letter-spacing: 5px;
  font-size: 24px;
}
#cover .dot-group {
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  padding: 15vh 0 10vh;
  text-transform: none;
}
#cover .dot-group .dot {
  display: block;
  border: 5px solid white;
  border-radius: 5px;
  margin: 20px auto;
  width: 0;
}

#client {
  position: relative;
}
#client .label {
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  font-size: 19px;
  letter-spacing: 0.2em;
}
#client .label button {
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  font-style: normal;
  padding: 10px 80px;
  background-color: #ff0048;
  border: none;
}
#client .client {
  position: relative;
}
#client .client img {
  width: 100%;
  height: auto;
}
#client .client .client-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  margin: 0px auto;
  text-align: center;
  background-color: #ff0048;
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 0;
  transition: 0.5s;
}
#client .client .client-text:hover {
  opacity: 1;
  background-color: #ff0048;
  color: white;
  transition: 1s;
  cursor: pointer;
}

#members {
  position: relative;
}
#members .title {
  position: relative;
}
#members .title h4 {
  background-color: #ff0048;
  padding: 10px 0px;
  margin: 0px auto;
  text-align: center;
  color: white;
  font-family: sans-serif;
  text-transform: none;
  font-style: normal;
  font-size: 19px;
}
#members .member {
  max-width: 800px;
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  color: #ff0048;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-style: normal;
}
#members .member h3 {
  font-size: 24px;
  padding: 40px;
}
#members .member .card {
  border: none;
}
#members .member .card h5 {
  font-size: 40px;
}
#members .member .card p {
  font-size: 16px;
  color: #000;
  font-family: sans-serif;
  text-transform: capitalize;
  font-style: normal;
}
#members .member .contact {
  padding: 10px 60px;
  margin: 30px 0px 80px;
  background-color: #000;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 16px;
  transition: 0.5s;
}
#members .member .contact:hover {
  opacity: 1;
  background-color: #ff0048;
  color: white;
  transition: 1s;
  cursor: pointer;
}

#intro {
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 960px;
  text-align: center;
}
#intro .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  margin: 0 auto;
  text-align: left;
  max-width: 900px;
}
#intro .container .text {
  max-width: 400px;
  padding: 60px 0;
}
#intro .container .text h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  letter-spacing: 0.1em;
}
#intro .container .text p {
  font-size: 16px;
  font-family: sans-serif;
}
#intro .container .who {
  margin-top: 200px;
}
#intro .container .how {
  margin-top: -200px;
}
#intro .container .how {
  position: relative;
}
#intro .container .believe {
  position: relative;
}
#intro .container .believe .dot-group.sm {
  position: none;
  top: 100%;
  display: none;
}
#intro .container .what {
  position: relative;
}
#intro .container .what .dot-group.sm {
  display: none;
}
#intro button {
  padding: 0 0;
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: normal;
  padding: 10px 50px;
  background-color: white;
  border: none;
  font-size: 16px;
  margin-bottom: 40px;
  transition: 0.5s;
}
#intro button:hover {
  opacity: 1;
  background-color: #ff0048;
  color: white;
  transition: 1s;
  cursor: pointer;
}

@media (max-width: 800px) {
  #intro .container {
    justify-content: center;
  }
  #intro .container .who {
    margin-top: 0;
  }
  #intro .container .how {
    margin-top: 0px;
  }
  #intro .container .how .dot-group.md {
    display: none;
  }
  #intro .container .believe .dot-group.md {
    display: none;
  }
  #intro .container .believe .dot-group.sm {
    display: flex;
  }
  #intro .container .what {
    margin-top: 60px;
  }
  #intro .container .what .dot-group.sm {
    display: flex;
  }
  #intro button {
    margin-top: 60px;
  }
}
footer {
  background-color: rgba(170, 168, 168, 0.3);
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}
footer p {
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: sans-serif;
}
