footer
  background-image: url(../img/bg.jpg)
  ul
    color: $text-color-1
    padding: 10% 30%
  .rightfooter
    margin-top: 200px
  li
    margin: 10px auto 50px auto
  .footerbutton
    display: block
    width: 180px
    margin: 0 auto 50px auto
    height: 40px
    color: black
    background-color: $text-color-1
    h4
      line-height: 40px
  .footerbutton:visited
    // color: black
  .footerbutton:hover
    text-decoration: none
    background-color: $text-color-2
    transition: background-color 1s
  .endph
    line-height: 80px
    background-color: grey
