/* line 15, ../sass/style.sass */
.picwall .triangle, #design-box::after {
  width: 0px;
  height: 0px;
  left: calc(50% - 20px);
  z-index: 1;
  border-top: 20px solid #FF0032;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

/* line 26, ../sass/style.sass */
.template {
  width: 100%;
  height: auto;
  opacity: 0.2;
  position: absolute;
  top: -11px;
  left: -8px;
  display: none;
}

/* line 34, ../sass/style.sass */
.header {
  background-color: #3C0036;
  color: white;
}
/* line 37, ../sass/style.sass */
.header .headerlist {
  max-width: 200px;
  margin: 0 auto;
  line-height: 3.5;
  text-align: center;
}
/* line 43, ../sass/style.sass */
.header .headerlist span {
  padding: 0 10px;
  letter-spacing: 2px;
}
/* line 46, ../sass/style.sass */
.header .headerlist :nth-child(2) {
  color: #F2287D;
}

/* line 48, ../sass/style.sass */
.banner {
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

/* line 55, ../sass/style.sass */
.bannerTitle {
  padding-top: 10%;
  margin-bottom: 36px;
}
/* line 59, ../sass/style.sass */
.bannerTitle h1 {
  font-family: serif;
  font-size: 6vw;
  margin: 0;
}
/* line 63, ../sass/style.sass */
.bannerTitle span {
  font-family: sans-serif;
}
/* line 65, ../sass/style.sass */
.bannerTitle h2 {
  font-family: monospace;
  letter-spacing: 8px;
  font-size: 1.8vw;
}
/* line 69, ../sass/style.sass */
.bannerTitle h3 {
  padding-top: 9%;
  font-size: 1.5vw;
  line-height: 1.5;
  font-family: monospace;
  padding-bottom: 26px;
}
/* line 75, ../sass/style.sass */
.bannerTitle .black-dot {
  padding: 6px 0;
}

/* line 77, ../sass/style.sass */
.wandc {
  background-color: #FF0032;
  width: 28%;
  margin: 0 auto;
  padding: 23px 0;
}
/* line 82, ../sass/style.sass */
.wandc h3 {
  font-size: 1.5vw;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  font-weight: 100;
}

/* line 89, ../sass/style.sass */
.picwall :nth-child(1) {
  position: relative;
}

/* line 92, ../sass/style.sass */
.picwall img {
  width: 100%;
}
/* line 95, ../sass/style.sass */
.picwall .triangle {
  top: 0;
  position: absolute;
}

/* line 98, ../sass/style.sass */
#design-box {
  position: relative;
  color: white;
  background-color: #FF0032;
  text-align: center;
  font-size: 1.5vw;
  padding: 13px 0;
  margin-top: 115px;
  letter-spacing: 3px;
  font-weight: 200;
}

/* line 108, ../sass/style.sass */
#design-box::after {
  content: " ";
  top: 99%;
  position: absolute;
}

/* line 112, ../sass/style.sass */
#meet-folk {
  color: #FF0032;
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: serif;
}

/* line 120, ../sass/style.sass */
#designer-img {
  width: 63%;
  margin: 0 auto;
  text-align: center;
}
/* line 125, ../sass/style.sass */
#designer-img img {
  width: 100%;
}
/* line 127, ../sass/style.sass */
#designer-img .designer-name {
  padding: 18px 0;
  margin-bottom: 27px;
}
/* line 130, ../sass/style.sass */
#designer-img .designer-name h1 {
  color: #FF0032;
  margin: 0;
  font-family: serif;
  font-size: 45px;
  letter-spacing: 7px;
}
/* line 136, ../sass/style.sass */
#designer-img .designer-name span {
  letter-spacing: 1px;
}

/* line 138, ../sass/style.sass */
#contact {
  text-align: center;
  margin-bottom: 55px;
  margin-top: 4px;
}
/* line 142, ../sass/style.sass */
#contact button {
  background-color: black;
  color: white;
  font-weight: 200;
  font-size: 1.2vw;
  width: 17vw;
  padding: 10px 0;
}

/* line 144, ../sass/style.sass */
#intro-us-bg {
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 -15px;
}
/* line 151, ../sass/style.sass */
#intro-us-bg #intro-us {
  max-width: 990px;
  margin: 0 auto;
  color: white;
  padding-top: 80px;
}
/* line 156, ../sass/style.sass */
#intro-us-bg #intro-us h1 {
  font-weight: 200;
  letter-spacing: 6px;
  font-family: serif;
  font-size: 45px;
}
/* line 161, ../sass/style.sass */
#intro-us-bg #intro-us #left {
  padding: 0 80px 0 0;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 161, ../sass/style.sass */
  #intro-us-bg #intro-us #left {
    padding: 0 15px;
  }
}
/* line 166, ../sass/style.sass */
#intro-us-bg #intro-us #left #dot-horizontal {
  margin: 115px 0 61px;
  text-align: center;
}
/* line 169, ../sass/style.sass */
#intro-us-bg #intro-us #left #dot-horizontal div {
  display: inline-block;
  margin: 0 10px;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 176, ../sass/style.sass */
#intro-us-bg #intro-us #right {
  padding-left: 80px;
  padding-top: 290px;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  /* line 176, ../sass/style.sass */
  #intro-us-bg #intro-us #right {
    padding: 200px 15px 0;
  }
}
/* line 183, ../sass/style.sass */
#intro-us-bg #intro-us #right #dot-horizontal {
  text-align: center;
  margin: 96px 0 61px;
}
/* line 186, ../sass/style.sass */
#intro-us-bg #intro-us #right #dot-horizontal div {
  display: inline-block;
  margin: 0 10px;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 193, ../sass/style.sass */
#intro-us-bg #back-to-top {
  text-align: center;
  margin: 140px 0 0;
  padding-bottom: 25px;
}
/* line 197, ../sass/style.sass */
#intro-us-bg #back-to-top button {
  background-color: white;
  color: black;
  font-weight: 200;
  font-size: 1.2vw;
  width: 17vw;
  padding: 10px 0;
}

/* line 199, ../sass/style.sass */
#footer {
  text-align: center;
  line-height: 7;
  letter-spacing: 2.5px;
}
/* line 203, ../sass/style.sass */
#footer a {
  color: #F2287D;
}
