/* line 31, ../sass/main.sass */
.nav-bar {
  background: #360836;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  font-size: 1.4em;
}

/* line 37, ../sass/main.sass */
.menu {
  text-align: center;
}
/* line 39, ../sass/main.sass */
.menu .active {
  color: #ff5e8b;
}
/* line 41, ../sass/main.sass */
.menu li:hover, .menu li:active {
  color: #ff5e8b;
}
/* line 43, ../sass/main.sass */
.menu li {
  display: inline-block;
  margin: 0px 20px;
}

/* line 46, ../sass/main.sass */
.banner {
  background-image: url(../image/cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 49, ../sass/main.sass */
.bannertext, .bannertext2 {
  margin: 0 auto;
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  width: 500px;
  color: #fff;
  text-align: center;
  padding: 120px 0px;
}
/* line 56, ../sass/main.sass */
.bannertext h2, .bannertext2 h2 {
  display: inline-block;
  font-size: 4em;
}
/* line 59, ../sass/main.sass */
.bannertext h3, .bannertext2 h3 {
  font-size: 1.6em;
  letter-spacing: 6px;
  font-family: "Times New Roman";
  font-style: initial;
  font-weight: initial;
}

/* line 63, ../sass/main.sass */
.bannertext2 {
  padding: 50px 0px;
}
/* line 65, ../sass/main.sass */
.bannertext2 h3 {
  font-size: 1.3em;
}

/* line 67, ../sass/main.sass */
.dividers {
  text-align: center;
  color: #fff;
  margin: 40px 0;
}
/* line 71, ../sass/main.sass */
.dividers li {
  margin: 20px;
  font-size: 0.4em;
}

/* line 74, ../sass/main.sass */
.mark {
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  background: #ff0048;
  color: #fff;
  padding: 20px 70px;
  text-align: center;
}
/* line 85, ../sass/main.sass */
.mark:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -18px;
  border-width: 18px 15px 0px;
  border-style: solid;
  border-color: #ff0048 transparent transparent;
}

/* line 88, ../sass/main.sass */
.work img {
  display: inline-block;
  width: 25%;
  font-size: 0px;
  margin-top: -2px;
  transition: all 0.3s;
}

/* line 94, ../sass/main.sass */
.memberblock {
  margin: 60px auto;
}
/* line 96, ../sass/main.sass */
.memberblock h2 {
  color: #ff0048;
  font-family: "Times New Roman";
  font-style: initial;
  font-weight: initial;
  font-size: 2em;
  margin: 50px;
  text-align: center;
}

/* line 102, ../sass/main.sass */
.member {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

/* line 107, ../sass/main.sass */
.member div {
  display: inline-block;
  width: 400px;
  margin: 30px 0px;
}

/* line 112, ../sass/main.sass */
.member h3 {
  color: #ff0048;
  font-family: "Times New Roman";
  font-style: initial;
  font-weight: initial;
  font-size: 3em;
  letter-spacing: 2px;
  margin: 10px;
}

/* line 119, ../sass/main.sass */
.member p {
  margin: 5px;
}

/* line 121, ../sass/main.sass */
.contact_btn {
  margin: 40px auto;
  text-align: center;
}
/* line 124, ../sass/main.sass */
.contact_btn button {
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 0px;
  padding: 10px 50px;
}

/* line 130, ../sass/main.sass */
.backtop_btn {
  width: 100% !important;
  padding: 100px 0px 20px 0px !important;
}

/* line 134, ../sass/main.sass */
.backtop_btn button {
  display: block;
  text-align: center;
  background: #fff;
  color: #000;
  border: 0px;
  border-radius: 0px;
  padding: 10px 50px;
  margin: 0px auto;
}

/* line 143, ../sass/main.sass */
.essay {
  color: #fff;
  background: #ff0048;
  text-align: center;
  padding: 15px;
  position: relative;
  letter-spacing: 3px;
}
/* line 150, ../sass/main.sass */
.essay:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -18px;
  border-width: 18px 15px 0px;
  border-style: solid;
  border-color: #ff0048 transparent transparent;
}

/* line 152, ../sass/main.sass */
.infor {
  background-image: url(../image/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
}

/* line 156, ../sass/main.sass */
.infor > div {
  display: inline-block;
  color: #fff;
  width: 380px;
  line-height: 1.4em;
  text-align: left;
  padding: 45px;
  vertical-align: top;
}

/* line 165, ../sass/main.sass */
.infor h2 {
  font-family: "Times New Roman";
  font-style: initial;
  font-weight: initial;
  letter-spacing: 4px;
  font-size: 3em;
  margin: 25px 0px;
  letter-spacing: 2px;
}

/* line 172, ../sass/main.sass */
.leftinfor .dividers li, .rightinfor .dividers li {
  display: inline-block;
}

/* line 175, ../sass/main.sass */
.leftinfor .dividers {
  margin: 90px 0px;
}

/* line 177, ../sass/main.sass */
.left1, .right1 {
  padding: 0px;
}

/* line 179, ../sass/main.sass */
.right2 {
  width: 100%;
  height: 300px;
}

/* line 182, ../sass/main.sass */
.footer {
  background: #e5e4e4;
  text-align: center;
  padding: 40px;
  letter-spacing: 2px;
}

/* line 188, ../sass/main.sass */
.footer span {
  color: #ff0048;
}

@media (max-width: 320px) {
  /* line 192, ../sass/main.sass */
  .work img {
    width: 100%;
  }
}
@media (max-width: 527px) {
  /* line 195, ../sass/main.sass */
  .memberblock {
    margin: 30px;
  }

  /* line 197, ../sass/main.sass */
  .infor > div {
    width: auto;
    padding: 10px;
  }

  /* line 200, ../sass/main.sass */
  .infor h2 {
    font-size: 1.8em;
  }

  /* line 203, ../sass/main.sass */
  .member img {
    width: 100%;
  }

  /* line 206, ../sass/main.sass */
  .member div {
    width: 100%;
  }
}
@media (max-width: 900px) {
  /* line 209, ../sass/main.sass */
  .member {
    width: 100%;
  }
}
@media (max-width: 1005px) {
  /* line 212, ../sass/main.sass */
  .right2 {
    display: none;
  }
}
@media (min-width: 320px) {
  /* line 216, ../sass/main.sass */
  .work img {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 220, ../sass/main.sass */
  .work img {
    width: 33.33333%;
  }
}
@media (min-width: 992px) {
  /* line 224, ../sass/main.sass */
  .work img {
    width: 25%;
  }
}
@media (max-width: 600px) {
  /* line 228, ../sass/main.sass */
  .bannertext, .bannertext2 {
    width: 100%;
  }
}
