/* line 1, ../sass/_header.scss */
header {
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 6, ../sass/_header.scss */
header ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
/* line 10, ../sass/_header.scss */
header ul li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 15, ../sass/_header.scss */
header ul a {
  color: white;
}
/* line 18, ../sass/_header.scss */
header ul a:hover {
  text-decoration: none;
  color: #FF5E8B;
}

/* line 2, ../sass/_cover1.scss */
#cover1 {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

/* line 11, ../sass/_cover1.scss */
#webfolk {
  position: absolute;
  color: white;
  float: left;
  left: 50%;
  top: 50%;
  width: 300px;
  margin-left: -150px;
  margin-top: -120px;
  text-align: center;
}
/* line 21, ../sass/_cover1.scss */
#webfolk h1 {
  font-size: 50pt;
}
/* line 24, ../sass/_cover1.scss */
#webfolk h3 {
  letter-spacing: 4px;
}
/* line 27, ../sass/_cover1.scss */
#webfolk p {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt;
}

/* line 2, ../sass/_cover2.scss */
#cover2 {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
/* line 7, ../sass/_cover2.scss */
#cover2 h3 {
  background-color: #FF0048;
  text-align: center;
  padding: 20px;
  width: 300px;
  color: white;
  margin: -66px auto 0px auto;
}
/* line 16, ../sass/_cover2.scss */
#cover2 .row {
  margin: 0px;
}
/* line 20, ../sass/_cover2.scss */
#cover2 #bg_color {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  padding-top: 30%;
  color: white;
}
/* line 33, ../sass/_cover2.scss */
#cover2 #tri {
  position: absolute;
  left: 50%;
  margin-left: -41.5px;
  top: 66px;
  z-index: 2;
}
/* line 42, ../sass/_cover2.scss */
#cover2 .col-md-3 {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 46, ../sass/_cover2.scss */
#cover2 .col-md-3 img {
  width: 100%;
}
/* line 53, ../sass/_cover2.scss */
#cover2 .col-md-3:hover #bg_color {
  background-color: #FF0048;
  letter-spacing: 4px;
  opacity: 1;
}
/* line 58, ../sass/_cover2.scss */
#cover2 .col-md-3:hover img {
  width: 100%;
  opacity: 0;
}

/* line 2, ../sass/_cover3.scss */
#cover3 {
  text-align: center;
}
/* line 4, ../sass/_cover3.scss */
#cover3 h4 {
  background-color: #FF0048;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 3px;
  margin-bottom: 0px;
}
/* line 14, ../sass/_cover3.scss */
#cover3 h3 {
  text-align: center;
  color: #FF0048;
  margin-top: 30px;
  margin-bottom: 40px;
  letter-spacing: 3px;
}
/* line 22, ../sass/_cover3.scss */
#cover3 .container {
  width: 1000px;
}
/* line 26, ../sass/_cover3.scss */
#cover3 .row {
  margin-top: 30px;
}
/* line 30, ../sass/_cover3.scss */
#cover3 .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 33, ../sass/_cover3.scss */
#cover3 .col-md-6 img {
  width: 100%;
}
/* line 38, ../sass/_cover3.scss */
#cover3 h1 {
  color: #FF0048;
}
/* line 42, ../sass/_cover3.scss */
#cover3 p {
  font-size: 12pt;
  letter-spacing: 2px;
}
/* line 47, ../sass/_cover3.scss */
#cover3 #contact_btn {
  background-color: black;
  border-width: 0px;
  width: 200px;
  height: 40px;
  color: white;
  margin: 20px auto 50px auto;
}
/* line 56, ../sass/_cover3.scss */
#cover3 #contact_btn:hover {
  background-color: #FF0048;
}

/* line 1, ../sass/_cover4.scss */
#cover4 {
  background-image: url("../img/bg_what.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  color: white;
}
/* line 11, ../sass/_cover4.scss */
#cover4 .container {
  width: 900px;
}
/* line 15, ../sass/_cover4.scss */
#cover4 h1 {
  letter-spacing: 2px;
  font-size: 40px;
}
/* line 20, ../sass/_cover4.scss */
#cover4 h2 {
  text-align: center;
  font-size: 100px;
}
/* line 26, ../sass/_cover4.scss */
#cover4 #descript_LEFT {
  padding-bottom: 200px;
  padding-right: 60px;
}
/* line 32, ../sass/_cover4.scss */
#cover4 #descript_RIGHT {
  padding-top: 200px;
  padding-left: 60px;
}
/* line 37, ../sass/_cover4.scss */
#cover4 #top_button {
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}
/* line 43, ../sass/_cover4.scss */
#cover4 #top_button input {
  border-width: 0px;
  background-color: white;
  width: 240px;
  height: 40px;
}
/* line 49, ../sass/_cover4.scss */
#cover4 #top_button input:hover {
  color: white;
  background-color: #FF0048;
}

/* line 1, ../sass/_footer.scss */
footer {
  background-color: #DEDDDD;
  margin: 0px auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 7, ../sass/_footer.scss */
footer h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 11, ../sass/_footer.scss */
footer a {
  color: #FF0048;
}
/* line 14, ../sass/_footer.scss */
footer a:hover {
  text-decoration: none;
  color: #FF0048;
}
